<div class="card shadow-sm mb-4 rounded-0 border-primary border-2">
    <div class="card-body">
        <div class="row">
            <!-- Levý sloupec -->
            <div class="col-2">
                <svg class="svg-file" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <!-- Obrys souboru -->
                    <polyline
                            points="47,7 47,22 62,22 47,7 17,7 17,72 62,72 62,22"
                            style="fill:white;stroke:rgba(33, 7, 104, 1);stroke-width:2"
                            stroke-linejoin="round"
                    />

                    <!-- Rámeček vlevo nahoře -->
                    <polygon
                            points="39,24 6,24 6,41 39,41"
                            style="fill:white;stroke:rgba(33, 7, 104, 1);stroke-width:2"
                            stroke-linejoin="round"
                    />

                    <!-- Tučný text typu souboru -->
                    <text
                            x="22"
                            y="33"
                            text-anchor="middle"
                            font-size="10"
                            font-family="Arial, sans-serif"
                            font-weight="bold"
                            fill="rgba(33, 7, 104, 1)"
                            dominant-baseline="middle"
                    >
                        {{ Typ|upper }}
                    </text>
                </svg>

            </div>
            <!-- Střední sloupec -->
            <div class="col-md-6 col-8 ps-lg-0 ps-4">
                <h5 class="card-title fw-medium">{{ Nazev }}</h5>
                <p class="card-text">{{ Popis }}</p>

            </div>
            <!-- Pravý sloupec -->
            <div class="col-md-4 col-12 mt-md-0 mt-3 text-end">

                <a class="btn btn-outline-primary rounded-pill my-1 text-start p-2 px-3 border-2 download" href="files/{{ Soubor }}" download="{{ NazevSouboru }}">
                    <svg class="download-svg me-1" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 533.78 405.59">
                        <defs>
                            <style type="text/css">
                                .stroke {stroke:#210768;stroke-width:36.66;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:22.9256}
                                .fill {fill:none}
                            </style>
                        </defs>
                        <path class="fill stroke" d="M515.45 203.7l0 124.54c0,32.46 -26.57,59.02 -59.02,59.02l-379.07 0c-32.46,0 -59.02,-26.56 -59.02,-59.02l0 -124.54"/>
                        <line class="fill stroke" x1="268.44" y1="18.33" x2="265.56" y2= "286.87" />
                        <line class="fill stroke" x1="161.54" y1="169.26" x2="266.44" y2= "290.05" />
                        <line class="fill stroke" x1="373.08" y1="169.53" x2="267.54" y2= "289.76" />
                    </svg>
                    <span class="text-wrap m-auto pe-1">Stáhnout</span>
                </a>
            </div>

        </div>
    </div>
</div>
