<div class="card shadow-sm mb-4 rounded-0 border-primary border-2">
    <div class="card-body">
        <div class="row">
            <!-- Levý sloupec -->
            <div class="col-2">
                <svg class="svg-file" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <!-- Obrys souboru -->
                    <polyline
                            points="47,7 47,22 62,22 47,7 17,7 17,72 62,72 62,22"
                            style="fill:white;stroke:rgba(33, 7, 104, 1);stroke-width:2"
                            stroke-linejoin="round"
                    />

                    <!-- Rámeček vlevo nahoře -->
                    <polygon
                            points="39,24 6,24 6,41 39,41"
                            style="fill:white;stroke:rgba(33, 7, 104, 1);stroke-width:2"
                            stroke-linejoin="round"
                    />

                    <!-- Tučný text typu souboru -->
                    <text
                            x="22"
                            y="33"
                            text-anchor="middle"
                            font-size="10"
                            font-family="Arial, sans-serif"
                            font-weight="bold"
                            fill="rgba(33, 7, 104, 1)"
                            dominant-baseline="middle"
                    >
                        {{ Typ|upper }}
                    </text>
                </svg>

            </div>
            <!-- Střední sloupec -->
            <div class="col-md-6 col-8 ps-lg-0 ps-4">
                <h5 class="card-title">{{ Nazev }}</h5>
                <p class="card-text">{{ Popis }}</p>

            </div>
            <!-- Pravý sloupec -->
            <div class="col-md-4 col-12 mt-md-0 mt-3 text-end">

                <a class="btn btn-outline-primary rounded-pill my-1 text-start p-2 px-3" href="files/{{ Soubor }}" download="{{ NazevSouboru }}">
                    <img src="{{ asset('images/download.png') }}" alt="Stáhnout" class="me-1">
                    <span class="text-wrap m-auto pe-1">Stáhnout</span>
                </a>
            </div>

        </div>
    </div>
</div>
