{% extends 'base.html.twig' %}

{% block title %}Materiály{% endblock %}

{% block body %}
<div class = "container-fluid pt-5 mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-12">
            <div class="row text-center">
                <div class="col-12 p-3">
                    <h1 class="text-primary fw-bolder text-uppercase">Materiály</h1>

                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class = "col-xl-6 col-lg-9 col-10">
                    <p class="text-justify-center">Na této stránce najdete soubory určené k&nbsp;osobní i&nbsp;společné přípravě
                        na blahořečení Jana Buly a&nbsp;Václava Drboly. K&nbsp;dispozici jsou podklady k&nbsp;modlitbě, katechezi,
                        materiály pro média i&nbsp;merch, jehož zakoupením můžete podpořit chystanou slavnost.
                    </p>
                    <p class="text-justify-center">
                        Všechny dostupné dokumenty jsou volně ke stažení.
                    </p>
                </div>
            </div>



            <nav>
                <div class="nav nav-tabs materialy justify-content-center mt-5" id="nav-tab" role="tablist">
                    <button class="nav-link active fw-bold mx-lg-4 mx-sm-2 mx-0" id="vse-tab" data-bs-toggle="tab" data-bs-target="#vse" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Vše</button>
                    {% for kat in globalVars.kategorieData %}
                        <button class="nav-link fw-bold mx-lg-4 mx-sm-2 mx-0" id="nav-category-{{ kat.id }}-tab" data-bs-toggle="tab" data-bs-target="#{{ kat.slug }}" type="button" role="tab" aria-controls="nav-category-{{ kat.id }}" aria-selected="false">{{ kat.Kategorie }}</button>
                    {% endfor %}

                </div>
            </nav>
            <div class="row justify-content-center">
                <div class = "col-xxl-5 col-xl-7 col-lg-8 col-9 mt-4">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="vse" role="tabpanel" aria-labelledby="vse-tab">
                            {% for soubor in soubory %}
                                <div class="text-primary small mx-4">
                                    {% for kat in soubor.kategorie %}
                                        {{ kat.Kategorie }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                                {% include 'materialy/_file.html.twig' with {'NazevSouboru': soubor.NazevSouboru ~ '.' ~ soubor.TypSouboru , 'Typ' : soubor.TypSouboru, 'Nazev': soubor.Nazev, 'Popis': soubor.Popis, 'Soubor' : soubor.Soubor} %}
                            {% endfor %}
                        </div>
                        {% for kat in globalVars.kategorieData %}
                            <div class="tab-pane fade scroll-offset-navbar" id="{{ kat.slug }}" role="tabpanel" aria-labelledby="{{ kat.slug }}-tab">
                                {% for soubor in kat.materialies %}
                                        {% include 'materialy/_file.html.twig' with {'NazevSouboru': soubor.NazevSouboru ~ '.' ~ soubor.TypSouboru , 'Typ' : soubor.TypSouboru, 'Nazev': soubor.Nazev, 'Popis': soubor.Popis, 'Soubor' : soubor.Soubor} %}
                                {% endfor %}
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>

        document.addEventListener("DOMContentLoaded", function () {
            const hash = window.location.hash;

            if (hash) {
                const triggerEl = document.querySelector(`button[data-bs-target="${hash}"]`);
                console.log(triggerEl);
                if (triggerEl) {
                    const tab = new bootstrap.Tab(triggerEl);
                    tab.show();
                }
            }
            const navTabs = document.querySelectorAll('button[data-bs-toggle="tab"]');

            navTabs.forEach(tab => {
                tab.addEventListener('shown.bs.tab', function (event) {
                    const target = tab.getAttribute('data-bs-target');
                    history.replaceState(null, null, target);
                });
            });
        });
    </script>

{% endblock %}
