{% extends 'aktuality/aktualita.html.twig' %}
{% block title %}Akce - {{ aktualita.Titulek }}{% endblock %}
{% block date %}
    <div class="row justify-content-center mt-2">
        <div class="col-xl-6 col-lg-9 col-10 text-justify-left">
            <div class="date-badge py-2 px-3 text-white fw-semibold bg-primary d-inline-block">
                {{ aktualita.Datum|date('j. n.') }}{% if aktualita.DatumDo %} – {{ aktualita.DatumDo|date('j. n.') }}{% endif %}

            </div>
        </div>
    </div>
{% endblock %}
{% block ilustrace %}
    {% if aktualita.IlustraceObsahu %}
        <div class="row justify-content-center mt-2 mb-5">
            <div class="col-xl-6 col-lg-9 col-10 text-justify-center">
                {% set ext = aktualita.IlustraceObsahu|split('.')|last|lower %}

                {% if ext in ['jpg', 'jpeg', 'png'] %}
                    <div class="row justify-content-center mt-4">
                        <div class="col-lg-9 col-10 text-justify-center">
                            <img class="w-100" src="{{ asset('/images/aktuality/' ~ aktualita.IlustraceObsahu) | imagine_filter('aktualita_ilustrace') }}" alt="{{ aktualita.Titulek }}">
                        </div>
                    </div>

                {% endif %}
                {% if ext == 'pdf' %}
                    <div class="row justify-content-center mt-4">
                        <div class="col-lg-9 col-10 text-justify-center">


                            <!-- PDF.js z cdnjs (UMD build) -->
                            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
                            <canvas id="pdf-render" style="max-width: 100%;"></canvas>
                            <script>
                                const url = "{{ asset('/images/aktuality/' ~ aktualita.IlustraceObsahu) }}";

                                // Nastavení workeru
                                pdfjsLib.GlobalWorkerOptions.workerSrc =
                                    'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.worker.min.js';

                                const loadingTask = pdfjsLib.getDocument(url);

                                loadingTask.promise.then(function(pdf) {
                                    console.log('PDF načteno');

                                    // Načti první stránku
                                    pdf.getPage(1).then(function(page) {

                                        const scale = 1.5;
                                        const viewport = page.getViewport({ scale: scale });

                                        const canvas = document.getElementById('pdf-render');
                                        const context = canvas.getContext('2d');
                                        canvas.height = viewport.height;
                                        canvas.width = viewport.width;

                                        const renderContext = {
                                            canvasContext: context,
                                            viewport: viewport
                                        };

                                        page.render(renderContext);
                                    });
                                }).catch(function(error){
                                    console.error("Chyba při načítání PDF:", error);
                                });
                            </script>



                        </div>
                    </div>
                {% endif %}

                <a class="btn btn-sm btn-outline-primary rounded-pill mt-lg-5 mt-0 px-4 border-2 download" href="{{ asset('images/aktuality/' ~ aktualita.IlustraceObsahu) }}" download="plakatek.{{ aktualita.IlustraceObsahu|split('.')|last }}">
                    <svg class="download-svg me-1" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 533.78 405.59">
                        <defs>
                            <style type="text/css">
                                .stroke {stroke:#210768;stroke-width:36.66;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:22.9256}
                                .fill {fill:none}
                            </style>
                        </defs>
                        <path class="fill stroke" d="M515.45 203.7l0 124.54c0,32.46 -26.57,59.02 -59.02,59.02l-379.07 0c-32.46,0 -59.02,-26.56 -59.02,-59.02l0 -124.54"/>
                        <line class="fill stroke" x1="268.44" y1="18.33" x2="265.56" y2= "286.87" />
                        <line class="fill stroke" x1="161.54" y1="169.26" x2="266.44" y2= "290.05" />
                        <line class="fill stroke" x1="373.08" y1="169.53" x2="267.54" y2= "289.76" />
                    </svg>
                    Stáhnout plakátek
                </a>
            </div>
        </div>
    {% endif %}
{% endblock %}
{% block body_extends %}
    {% if aktualita.lat and aktualita.lng %}

        {% include 'mapa/mapa.html.twig' with {
            lat: aktualita.lat,
            lng: aktualita.lng,
            zoom: 13
        } %}
        <script>var marker = L.marker([{{ aktualita.lat }}, {{ aktualita.lng }}],{icon: pinIcon}).addTo(map).bindPopup("{{ aktualita.Titulek }}");</script>
    {% endif %}
{% endblock %}