{% extends 'base.html.twig' %}

{% block title %}Kalendář akcí{% endblock %}

{% block body %}
    <div class = "container-fluid pt-5 mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-12">
                <div class="row text-center">
                    <div class="col-12 p-3">
                        <h1 class="text-primary fw-bolder text-uppercase">Kalendář akcí</h1>

                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class = "col-xl-6 col-lg-9 col-10">
                        <p class="text-justify-center">Blížící se zajímavé akce
                        </p>
                    </div>
                </div>




                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-10 col-12 mt-4">
                        <div class="row g-3" id="akce-container">
                            {% for ak in akce %}

                                {% include 'kalendar_akci/_akce.html.twig' with {'akce': ak,} %}


                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="container-fluid text-center">
                    <div class="row justify-content-center">
                        <div class="col-xl-6 col-lg-9 col-10">
                            {% if (akce|length >= limit) %}
                                <button id="load-more-btn" data-offset="{{ akce|length }}" class="btn btn-outline-primary rounded-pill m-5 border-2"><div class="mx-3">Načíst další</div></button>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        {% include 'mapa/mapa.html.twig' with {
            lat: 49.800,
            lng: 15.650,
            zoom: 7
        } %}
        <script>
            {% for ak in akce %}
            {%if ak.lat and ak.lng%}
            var marker = L.marker([{{ ak.lat }}, {{ ak.lng }}],{icon: pinIcon}).bindPopup('<strong><a class="text-decoration-none text-black" href="{{ path('akce_url', { url: ak.url }) }}">{{ ak.Titulek }}</a></strong><hr><div class="text-center"><img src="{{ asset('/images/aktuality/' ~ ak.Obrazek) | imagine_filter('akce_thumb') }}" alt="{{ ak.Titulek }}"></div>');
            marker.addTo(markers);

            {% endif %}
            {% endfor %}
            map.addLayer(markers);

            let btn_element = document.getElementById('load-more-btn')
            if (btn_element) {
                btn_element.addEventListener('click', function () {
                    const btn = this;
                    const offset = btn.dataset.offset;

                    fetch('/kalendar-akci/load-more?offset=' + offset)
                        .then(response => response.json())
                        .then(data => {
                            const container = document.getElementById('akce-container');

                            data.akce.forEach(akce => {
                                if (akce.lat && akce.lng) {
                                    // příklad: přidání markeru na mapu
                                    const marker = L.marker([akce.lat, akce.lng], {icon: pinIcon})

                                        //.bindPopup('<strong>'+akce.titulek+'</strong><hr>'+akce.perex);
                                        .bindPopup('<strong><a class="text-decoration-none text-black" href="akce/'+akce.url+'">'+akce.titulek+'</a></strong><hr><div class="text-center"><img src="" alt=""></div>');

                                    marker.addTo(markers);
                                }
                            });
                            data.items.forEach(itemHtml => {
                                const div = document.createElement('div');
                                div.innerHTML = itemHtml.trim();
                                const newItem = div.firstElementChild;


                                if (newItem) {
                                    // přidej třídu fade-in
                                    newItem.classList.add('fade-in');
                                    container.appendChild(newItem);

                                    // malý timeout, aby se spustil transition efekt
                                    setTimeout(() => {
                                        newItem.classList.add('show');
                                    }, 10);
                                }
                            });
                            if (data.hasMore) {
                                btn.dataset.offset = data.nextOffset;
                            } else {
                                btn.remove(); // skryje tlačítko, pokud už není co načíst
                            }
                        });
                })
            };
        </script>
    </div>

{% endblock %}
