{% extends 'base.html.twig' %}

{% block title %}Slavnost blahořečení{% endblock %}

{% block body %}


    <div class="bula-drbola bula-drbola-slavnost-blahoreceni overflow-hidden">
        <div class="container-fluid position-relative">
            <div class="navbar-minus"></div>
            <div class="text-center">
                <img class="img-fluid mt-lg-0 mt-1 bula-drbola-oriznuti-main-mobil" src = "{{ asset('images/bula_drbola.png') }}" alt="Jan Bula a Václav Drbola">

                <div class="d-flex justify-content-between position-absolute top-50 start-50 translate-middle-x mt-lg-0 mt-sm-1 mt-4 pb-3">
                    <h1 class="text-secondary text-uppercase text-center mt-4 m-2 pt-3">Slavnost<br>blahořečení</h1>

                </div>
                <div class="row position-absolute top-50 justify-content-center mt-5 pt-6 w-100">
                    <div class="col-12">
                        <p class="fs-2 fw-bold text-white pt-1 m-4">Jana Buly a Václava Drboly</p>
                        <h5 class="text-secondary mb-4 fw-bold">6. června 2026 | Areál brněnského výstaviště</h5>
                            <a href="{{ globalVars.nastaveniWebu('tlacitko_link_hlavicka_mainpage') }}" class="btn btn-outline-light rounded-pill border-3"{% if globalVars.nastaveniWebu('tlacitko_target_hlavicka_mainpage') %} target="{{ globalVars.nastaveniWebu('tlacitko_target_hlavicka_mainpage') }}"{% endif %}><span class="fw-bold fs-3 mx-2">Zaregistrujte se ještě dnes</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center mt-4 mb-4">
        <div class="col-xl-3 col-lg-4 col-10 text-left pe-lg-5 pe-0">
            <h5 id="registrace" class="scroll-offset text-primary text-start fw-bold text-uppercase">{{ globalVars.nadpisTextuStranek('jste-zvani', 'slavnost-blahoreceni')|raw }}</h5>
            <div class="pt-4 pb-2">{{ globalVars.textyStranek('jste-zvani', 'slavnost-blahoreceni')|raw|nbsp_prepositions|strong_filter|div_filter }}</div>
        </div>
        <div class="col-xl-3 col-lg-4 col-10 text-left pe-lg-5 pe-0">
            <h5 id="proc-se-registrovat-dopredu" class="scroll-offset text-primary text-start fw-bold text-uppercase">{{ globalVars.nadpisTextuStranek('proc-se-registrovat-dopredu', 'slavnost-blahoreceni')|raw }}</h5>
            <div class="pt-4 pb-2">{{ globalVars.textyStranek('proc-se-registrovat-dopredu', 'slavnost-blahoreceni')|raw|nbsp_prepositions|strong_filter|div_filter }}</div>
        </div>
    </div>

    <div class="row justify-content-center mb-5 pb-2">
        <div class="col-12 text-center">
            <a href="{{ globalVars.nastaveniWebu('tlacitko_link_hlavicka_mainpage') }}" class="btn btn-secondary text-primary rounded-pill border-3"{% if globalVars.nastaveniWebu('tlacitko_target_hlavicka_mainpage') %} target="{{ globalVars.nastaveniWebu('tlacitko_target_hlavicka_mainpage') }}"{% endif %}><span class="fw-bold fs-3 mx-2">Zaregistrujte se ještě dnes</span></a>
        </div>
    </div>
    <div class="row justify-content-center pt-3 mt-5 mb-2">
        <div class="col-12 text-center">
            <h4 id="program" class="text-primary fs-2 fw-bold scroll-offset">{{ globalVars.nadpisTextuStranek('program', 'slavnost-blahoreceni')|raw }}</h4>
        </div>
    </div>
    <div class="row justify-content-center mt-0">
        <div class = "col-xl-6 col-lg-9 col-10">
            <div class="text-justify-center pb-3">{{ globalVars.textyStranek('program', 'slavnost-blahoreceni')|raw|nbsp_prepositions|strong_filter|div_filter }}
            </div>
        </div>
    </div>


    <div class="row justify-content-center mt-4 mb-0">
        <div class="col-xl-3 col-lg-4 col-10 text-left pe-lg-5 pe-0">

            <div class="program-slavnosti">
                <div class="m-4 mt-0 p-1">
                {% for text in kategorieTextu[0].slavnostBlahoreceniTexties %}
                    <div class="text-secondary fw-bold mt-4">{{ text.Titulek }}</div>
                    <div class="text-primary mb-2">{{ text.Text|raw|nbsp_prepositions|strong_filter }}</div>
                {% endfor %}
                    <div class="m-4"></div>
                </div>
            </div>
            <div class="small text-center">
                Změna programu vyhrazena
            </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-10 text-left pe-lg-5 pe-0">
            {% include 'slavnost_blahoreceni/accordion.html.twig' with {
                id: 'accordion1',
                items: kategorieTextu[1].slavnostBlahoreceniTexties
            } %}
        </div>

    </div>

    <div class="row justify-content-center pt-3 mt-5 mb-2">
        <div class="col-12 text-center">
            <h4 id="podporte-slavnost" class="text-primary fs-2 fw-bold scroll-offset">{{ globalVars.nadpisTextuStranek('podporte-slavnost', 'slavnost-blahoreceni')|raw }}</h4>
        </div>
    </div>
    <div class="row justify-content-center mt-0">
        <div class = "col-xl-6 col-lg-9 col-10">
            <div class="text-justify-center pb-3">{{ globalVars.textyStranek('podporte-slavnost', 'slavnost-blahoreceni')|raw|nbsp_prepositions|strong_filter|div_filter }}
                <a href="https://donator.cz/projekt/kanonizacebd" target="_blank" class="mt-3 btn btn-outline-primary rounded-pill">Chci podpořit slavnost</a>
            </div>

        </div>
    </div>
    <div class="row justify-content-center pt-3 mt-5 mb-2">
        <div class="col-12 text-center">
            <h4 id="dulezite-informace" class="text-primary fs-2 fw-bold scroll-offset">Důležité informace</h4>
        </div>
    </div>
    <div class="row justify-content-center pt-3 mt-2 mb-2">
        <div class = "col-xl-6 col-lg-9 col-10">
            {% include 'slavnost_blahoreceni/accordion.html.twig' with {
                id: 'accordion1',
                items: kategorieTextu[2].slavnostBlahoreceniTexties
            } %}

        </div>
    </div>
    <div class="row justify-content-center pt-3 mt-5 mb-2">
        <div class="col-12 text-center">
            <h4 id="caste-otazky" class="text-secondary fw-bold scroll-offset">FAQ</h4>
            <h4 class="text-primary fs-2 fw-bold">Často kladené otázky</h4>
        </div>
    </div>
    <div class="row justify-content-center pt-3 mt-2 mb-5">
        <div class = "col-xl-6 col-lg-9 col-10">
            <div class="fw-bold m-3 mt-0">Registrace a vstupenky</div>
            {% include 'slavnost_blahoreceni/accordion.html.twig' with {
                id: 'accordion1',
                items: kategorieTextu[3].slavnostBlahoreceniTexties
            } %}
            <div class="fw-bold m-3">Praktická organizace</div>
            {% include 'slavnost_blahoreceni/accordion.html.twig' with {
                id: 'accordion1',
                items: kategorieTextu[4].slavnostBlahoreceniTexties
            } %}
            <div class="fw-bold m-3">Děti</div>
            {% include 'slavnost_blahoreceni/accordion.html.twig' with {
                id: 'accordion1',
                items: kategorieTextu[5].slavnostBlahoreceniTexties
            } %}
            <div class="fw-bold m-3">Stravování</div>
            {% include 'slavnost_blahoreceni/accordion.html.twig' with {
                id: 'accordion1',
                items: kategorieTextu[6].slavnostBlahoreceniTexties
            } %}
            <div class="fw-bold m-3">Příspěvek a dar</div>
            {% include 'slavnost_blahoreceni/accordion.html.twig' with {
                id: 'accordion1',
                items: kategorieTextu[7].slavnostBlahoreceniTexties
            } %}
        </div>
    </div>
{% endblock %}