{% extends 'base.html.twig' %}

{% block title %}Blahořečení{% endblock %}

{% block body %}
<div class = "container-fluid pt-5 mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-12">
            <div class="row text-center">
                <div class="col-12 p-3">
                    <h1 class="text-primary fw-bolder text-uppercase">Blahořečení</h1>
                </div>
            </div>
            <div class="row justify-content-center mt-4 mb-5">
                <div class = "col-xl-3 col-lg-4 col-10 text-center pe-lg-5 pe-0">
                    <img src="{{ asset('images/bl01.png') }}">
                </div>
                <div class = "col-xl-3 col-lg-4 col-10 ps-lg-5 ps-0">
                    <h5 id="jak-probiha-blahoreceni" class="scroll-offset text-primary fw-bold text-lg-start text-center mt-lg-0 mt-5">{{ globalVars.nadpisTextuStranek('co-je-blahoreceni', 'blahoreceni')|raw }}</h5>
                    <div class="pt-4 pb-3 text-justify-left">{{ globalVars.textyStranek('co-je-blahoreceni', 'blahoreceni')|raw|nbsp_prepositions|strong_filter|div_filter }}</div>
                </div>
            </div>
            <div class="row">
                <div class="podbarveni_4">
                    <div class="row justify-content-center">
                        <div class="col-10 col-xl-6 col-lg-9 my-5 py-5">
                            <h5 id="vyznam-blahoreceni" class="scroll-offset text-white fw-bold text-justify-center">{{ globalVars.nadpisTextuStranek('vyznam-blahoreceni', 'blahoreceni')|raw }}</h5>
                            <div class="text-white text-justify-center pt-4 pb-3">{{ globalVars.textyStranek('vyznam-blahoreceni', 'blahoreceni')|raw|nbsp_prepositions|strong_filter|div_filter }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-10 col-xl-6 col-lg-9 mt-5 mb-5 pt-5 pb-5">
                    <h5 id="schvaleny-zazrak" class="scroll-offset text-primary fw-bold text-justify-center">{{ globalVars.nadpisTextuStranek('schvaleny-zazrak', 'blahoreceni')|raw }}</h5>
                    <div class="text-primary text-justify-center pt-4">
                        {{ globalVars.textyStranek('schvaleny-zazrak', 'blahoreceni')|raw|nbsp_prepositions|strong_filter|ol_filter|div_filter }}
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-6 col-11 program-slavnosti pt-2 pb-3">
            <div class="row justify-content-center d-flex flex-row mt-3 mb-4">
                <div class="col-12 mt-2"><h5 class="text-primary text-center fw-bold">Atributy mučedníků Jana Buly a Václava Drboly</h5></div>
                <div class="col-md-6 col-12 d-flex flex-column text-center mb-lg-0 mb-5 mt-5">
                    <p class="p-3">
                        <img src="{{ asset('images/kolarek.svg') }}" height="35px" alt="Grafika">
                    </p>
                    <div class="px-4 p-0">
                        {{ globalVars.textyStranek('atribut-1', 'main')|raw|nbsp_prepositions|strong_filter|div_filter }}
                    </div>
                </div>

                <div class="col-md-6 col-12 d-flex flex-column text-center mb-lg-0 mb-5 mt-5">
                    <p class="p-3">
                        <img src="{{ asset('images/obalka.svg') }}" height="35px" alt="Grafika">
                    </p>
                    <div class="px-4 p-0">
                        {{ globalVars.textyStranek('atribut-2', 'main')|raw|nbsp_prepositions|strong_filter|div_filter }}
                    </div>
                </div>

                <div class="col-md-6 col-12 d-flex flex-column text-center mb-lg-0 mb-5 mt-5">
                    <p class="p-3">
                        <img src="{{ asset('images/ratolest.svg') }}" height="35px" alt="Grafika">
                    </p>
                    <div class="px-4 p-0">
                        {{ globalVars.textyStranek('atribut-3', 'main')|raw|nbsp_prepositions|strong_filter|div_filter }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
