    <div class="card h-100 border-0 rounded-0">
        <div class="card-header bg-white border-0 pb-0 px-2">
            <small class="text-date">{{ aktualita.Datum|cesky_datum }}</small>
        </div>
        <div class="px-1">
            <img src="{{ asset('/images/aktuality/' ~ aktualita.Obrazek) | imagine_filter('aktualita_thumb') }}" class="card-img-top rounded-0" alt="Náhledový obrázek">
        </div>
        <div class="card-body px-2">
            <a href="aktuality/{{ aktualita.url}}" class="card-title mt-2 text-primary fw-bold text-decoration-none">{{ aktualita.Titulek}}</a>
            <div class="card-text mb-0 perex">{{ aktualita.Perex|raw|nbsp_prepositions }}</div>
            <a href="aktuality/{{ aktualita.url}}" class="fw-bold">Číst více</a>
        </div>
    </div>