{% extends 'base.html.twig' %}

{% block title %}Aktuality - {{ aktualita.Titulek }}{% endblock %}

{% block body %}
    <div class = "container-fluid pt-5 mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-12">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-6 col-lg-9 col-10 p-3">
                        <h1 class="text-primary fw-bolder text-uppercase">{{ aktualita.Titulek }}</h1>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-xl-6 col-lg-9 col-10 text-justify-center">
                        <img class="w-75" src="{{ asset('/images/aktuality/' ~ aktualita.Obrazek) | imagine_filter('aktualita_full_thumb') }}" alt="{{ aktualita.Titulek }}">
                    </div>
                </div>
                <div class="row justify-content-center mt-5">
                    <div class="col-xl-6 col-lg-9 col-10 text-justify-left">
                        <strong>{{ aktualita.Perex|raw|nbsp_prepositions }}</strong>
                    </div>
                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-xl-6 col-lg-9 col-10 text-justify-left">
                        {{ aktualita.Obsah|raw|nbsp_prepositions }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
