{% extends 'base.html.twig' %}

{% block title %}{{ clanek.Titulek }}{% endblock %}

{% block body %}
    <div class = "container-fluid py-5 mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-12">
                <div class="row justify-content-center text-center">
                    <div class="col-xl-6 col-lg-9 col-10 p-3">
                        <h1 class="text-primary fw-bolder text-uppercase">{{ clanek.Titulek }}</h1>
                    </div>
                </div>
                {% if headings %}
                    <div class="row text-center mb-0">
                        <div class="col-12 pb-lg-5 mb-lg-3 mb-0 pb-0 p-3">

                    {% for h in headings %}
                        <a class="btn btn-sm btn-outline-primary rounded-pill px-4 border-2 mb-2 mx-1" href="#{{ h.id }}">{{ h.title }}</a>
                    {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if clanek.Obrazek %}
                <div class="row justify-content-center mt-0">
                    <div class="col-xl-6 col-lg-9 col-10 text-justify-center">
                        <img class="w-100" src="{{ asset('/images/clanky/' ~ clanek.Obrazek) | imagine_filter('aktualita_full_thumb') }}" alt="{{ clanek.Titulek }}">
                    </div>
                </div>
                {% endif %}
                <div class="row justify-content-center mt-5">
                    <div class="col-xl-6 col-lg-9 col-10 text-justify-left">
                        {{ obsah|raw|nbsp_prepositions }}
                    </div>
                </div>
                {% if clanek.IlustraceObsahu %}
                    <div class="row justify-content-center mt-4">
                        <div class="col-xl-6 col-lg-9 col-10 text-justify-center">
                            <img class="w-100" src="{{ asset('/images/clanky/' ~ clanek.IlustraceObsahu) | imagine_filter('aktualita_ilustrace') }}" alt="{{ clanek.Titulek }}">
                        </div>
                    </div>
                {% endif %}
                {% if clanek.Video %}
                    <div class ="row justify-content-center mt-4">
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-10 pt-sm-0 pt-2">
                            <div class="ratio ratio-16x9">
                                <iframe class = "rounded" src="https://www.youtube.com/embed/{{ clanek.Video }}" title="{{ clanek.Titulek }}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if obsahPokracovani %}
                    <div class="row justify-content-center mt-4">
                        <div class="col-xl-6 col-lg-9 col-10 text-justify-left">
                            {{ obsahPokracovani|raw|nbsp_prepositions }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
