<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>BD</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>

        {% block header %}
        <header>

        </header>
        {% endblock %}
        {% block nav %}

        <nav class="navbar navbar-expand-sm sticky-top navbar-light" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="#"><img src="{{ asset('images/logo.png') }}" height="40px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown link
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            <footer class="text-center text-lg-start bg-body-secondary text-muted">
                <section class="d-flex p-4">

                </section>

                <section class="container text-center text-md-start mt-5">
                    <div class="row">
                        <div class="col-1 border-end">
                            <span><img class="img-fluid" src="{{ asset('images/logo_bile.png') }}" width="70px"></span>
                        </div>
                        <div class="col-2 border-end">
                            <img class="img-fluid" src="{{ asset('images/dieceze.png') }}" width="120px">
                        </div>
                        <div class="col-4">
                           beatifikační proces mučedníků<br> komunistického režimu
                        </div>
                    </div>
                </section>

                <section>
                    <div class="container text-center text-md-start mt-5">
                        <div class="row mt-3">
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                <h6 class="fw-bold mb-4">
                                    domů
                                </h6>
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                <h6 class="fw-bold mb-4">
                                    příběh
                                </h6>
                                <p>
                                    <a href="#" class="text-reset">buletin ke stažení</a>
                                </p>

                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
                                <h6 class="fw-bold mb-4">blahořečení</h6>
                                <p>
                                    <a href="#" class="text-reset">jak probíhá blahořečení</a>
                                <br>
                                    <a href="#" class="text-reset">význam blahořečení</a>
                                <br>
                                    <a href="#!" class="text-reset">schválený zázrak</a>
                                </p>
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                <h6 class="fw-bold mb-4">
                                    výstaviště
                                </h6>

                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                <h6 class="fw-bold mb-4">
                                    materiály
                                </h6>
                                <p>
                                    <a href="#" class="text-reset">modlitba</a>
                                <br>
                                    <a href="#" class="text-reset">katecheze</a>
                                <br>
                                    <a href="#!" class="text-reset">merch</a>
                                </p>
                            </div>
                            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                <h6 class="fw-bold mb-4">
                                    zapojte se
                                </h6>
                                <p>
                                    <a href="#" class="text-reset">modlitba za blahořečení</a>
                                <br>
                                    <a href="#" class="text-reset">darujte</a>
                                <br>
                                    <a href="#!" class="text-reset">sdílejte svědectví</a>
                                <br>
                                    <a href="#" class="text-reset">dobrovolnictví</a>
                                <br>
                                    <a href="#!" class="text-reset">pro media</a>
                                </p>
                            </div>

                        </div>

                    </div>
                </section>


            </footer>

        {% endblock %}

    </body>
</html>
