<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="Description" content="Jan Bula a Václav Drbola. Dva obyčejní kněží, umučení v 50. letech minulého století komunistickým režimem. Oba se stali symbolem odporu vůči útlaku, neochvějné pevnosti hodnot, vnitřní integrity a hluboké víry. Papež Lev XIV. schválil v říjnu 2025 jejich beatifikaci, která se uskuteční na jaře 2026 v Brně.">
        <meta name="keywords" content="blahořečení, Jan Bula, Václav Drbola, mučedníci komunismu, kněží brněnské diecéze, beatifikace, tzv. babické vraždy, pronásledování církve">
        <meta name="robots" content="all,follow" >
        <meta name='googlebot' content="index,follow,snippet,archive" >
        <meta name="author" content="Biskupství brněnské" >
        <meta property="og:type" content="website" >
        <meta property="og:url" content="{{ app.request.uri }}" >
        <meta property="og:title" content="Jan Bula a Václav Drbola" >
        <meta property="og:image" content="{{ app.request.schemeAndHttpHost }}/images/bula_drbola.jpg" >
        <meta property="og:description" content="Jan Bula a Václav Drbola. Dva obyčejní kněží, umučení v 50. letech minulého století komunistickým režimem. Oba se stali symbolem odporu vůči útlaku, neochvějné pevnosti hodnot, vnitřní integrity a hluboké víry. Papež Lev XIV. schválil v říjnu 2025 jejich beatifikaci, která se uskuteční na jaře 2026 v Brně." >
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="/images/favicon/favicon-96x96.png" sizes="96x96" >
        <link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" >
        <link rel="shortcut icon" href="/images/favicon/favicon.ico" >
        <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png" >
        <meta name="apple-mobile-web-app-title" content="Jan Bula a Václav Drbola" >
        <link rel="manifest" href="/images/favicon/site.webmanifest" >
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <!-- Matomo -->
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://matomo.dieceze.cz/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '8']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        <!-- End Matomo Code -->

    </head>
    <body>

        {% block header %}
        <header>

        </header>
        {% endblock %}
        {% block nav %}
        <nav class="navbar navbar-expand-lg sticky-top-lg navbar-light sticky-top mt-lg-3 mt-md-2" id="navbar">
            <div class="container-fluid justify-content-lg-center">
                <a class="navbar-brand" href="{{ path ('app_main') }}"><img src="{{ asset('images/logo.svg') }}" height="60" alt="Logo"></a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse flex-grow-0" id="navbarNavDropdown">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                         <li class="nav-item mt-1 m-3 mb-0 fw-bold dropdown">
                            <a href="#" class="nav-link text-center text-lg-start dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                příběh
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item text-center text-lg-start" href="{{ path('app_pribeh') }}">příběh</a></li>
                                <li><a class="dropdown-item text-center text-lg-start" href="{{ path('app_pribeh') }}#mistopis">místopis</a></li>
                            </ul>
                        </li>

                        <li class="nav-item mt-1 m-3 mx-xl-4 mb-0 fw-bold">
                            <a class="nav-link text-center text-lg-start" href="{{ path('app_blahoreceni') }}">blahořečení</a>
                        </li>
                        <li class="nav-item mt-1 m-3 mx-xl-4 mb-0 fw-bold">
                            <a class="nav-link text-center text-lg-start" href="{{ path('app_vystaviste') }}">výstaviště</a>
                        </li>
                        <li class="nav-item mt-1 m-3 mx-xl-4 mb-0 fw-bold">
                            <a class="nav-link text-center text-lg-start" href="{{ path('app_aktuality') }}">aktuality</a>
                        </li>
                        <li class="nav-item mt-1 m-3 mx-xl-4 mb-0 fw-bold">
                            <a class="nav-link text-center text-lg-start" href="{{ path('app_kalendar_akci') }}">kalendář akcí</a>
                        </li>
                        <li class="nav-item mt-1 m-3 mx-xl-4 mb-0 fw-bold">
                            <a class="nav-link text-center text-lg-start" href="{{ path('app_materialy') }}">materiály</a>
                        </li>
                        <li class="nav-item mt-1 m-3 mx-xl-4 mb-0 fw-bold">
                            <a class="nav-link text-center text-lg-start" href="{{ path('app_zapojte_se') }}">zapojte se</a>
                        </li>

                        {# <li class="nav-item mt-1 m-3 mb-0 fw-bold dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                zapojte se
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        #}
                    </ul>
                </div>
            </div>
        </nav>


        {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}
            {% if paticka %}

                <div class="podbarveni_3 overflow-hidden">
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-12 text-center mt-5 mb-5">
                                <img class="img-fluid bula-drbola-oriznuti-mobil" src = "{{ asset('images/bula_drbola.png') }}" alt="Jan Bula a Václav Drbola">
                            </div>
                        </div>

                        <div class="row justify-content-center posun-140 ">
                            <div class="col-xxl-2 col-lg-3 col-md-4 col-sm-5 col-xs-6 col-10 text-center">
                                <p class="text-white text-center">V&nbsp;říjnu 2025 potvrdil papež Lev XIV. záměr blahořečení mučedníků Jana Buly
                                    a&nbsp;Václava Drboly. Slavnost blahořečení by se měla uskutečnit v&nbsp;červnu 2026.
                                    Vyvrcholí tak beatifikační proces, který trvá přes 20&nbsp;let. U&nbsp;Jana Buly byl
                                    zahájen v&nbsp;roce 2004, v&nbsp;roce 2011 k&nbsp;němu byl připojen i&nbsp;případ Václava Drboly.</p>
                                <a class="btn btn-sm btn-outline-light rounded-pill px-4 border-2" href="{{ path('app_vystaviste') }}">Více o akci na výstavišti</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <footer class="text-center text-lg-start bg-body-secondary text-muted">
                <section class="d-flex py-4">

                </section>
                <section>
                    <div class="container-fluid">
                        <div class="row justify-content-center my-5">
                            <div class="col-xxl-8 col-xl-10 col-12 justify-content-center">
                                <div class="row justify-content-lg-start justify-content-center">
                                    <div class="col-lg-2 col-5 text-start m-auto border-end">
                                        <a href="{{ path ('app_main') }}"><img alt="Bula - Drbola" src="{{ asset('images/logo_bile.svg') }}" height="60"></a>
                                    </div>
                                    <div class="col-lg-2 col-5 text-lg-center text-start border-end-desktop-only m-auto">
                                        <a href="https://www.biskupstvi.cz"><img alt="Brněnská diecéze" src="{{ asset('images/dieceze.svg') }}" height="60"></a>
                                    </div>
                                    <div class="col-lg-8 col-10 mt-lg-0 mt-4 text-start ps-lg-5">
                                        beatifikační proces mučedníků<br>komunistického režimu
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="d-flex py-lg-4 py-1">

                </section>
                <section>
                    <div class="container-fluid">
                        <div class="row justify-content-center mt-5">
                            <div class="col-xxl-8 col-xl-10 col-12">
                                <div class="row mt-3">
                                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                        <h6 class="fw-bold mb-4">
                                            <a class="text-reset text-decoration-none" href="{{ path('app_main') }}">domů</a>
                                        </h6>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                        <h6 class="fw-bold mb-4">
                                            <a class="text-reset text-decoration-none" href="{{ path('app_pribeh') }}">příběh</a>
                                        </h6>

                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
                                        <h6 class="fw-bold mb-4"><a class="text-reset text-decoration-none" href="{{ path('app_blahoreceni') }}">blahořečení</a></h6>
                                        <p>
                                            <a href="{{ path('app_blahoreceni') }}/#jak-probiha-blahoreceni" class="text-reset text-decoration-none hover-bold">jak probíhá blahořečení?</a>
                                            <br>
                                            <a href="{{ path('app_blahoreceni') }}/#vyznam-blahoreceni" class="text-reset text-decoration-none hover-bold">význam blahořečení</a>
                                            <br>
                                            <a href="{{ path('app_blahoreceni') }}/#schvaleny-zazrak" class="text-reset text-decoration-none hover-bold">schválený zázrak</a>
                                        </p>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                        <h6 class="fw-bold mb-4">
                                            <a class="text-reset text-decoration-none" href="{{ path('app_vystaviste') }}">výstaviště</a>
                                        </h6>

                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                        <h6 class="fw-bold mb-4">
                                            <a class="text-reset text-decoration-none" href="{{ path('app_materialy') }}">materiály</a>
                                        </h6>
                                        <p>
                                            {% for kat in globalVars.kategorieData %}
                                                <a href="{{ path('app_materialy') }}/#{{ kat.slug }}" class="text-reset text-decoration-none hover-bold">{{ kat.Kategorie|lower }}</a>
                                                {% if not loop.last %}<br>{% endif %}
                                            {% endfor %}
                                            <br>
                                        </p>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                        <h6 class="fw-bold mb-4">
                                            <a class="text-reset text-decoration-none" href="{{ path('app_zapojte_se') }}">zapojte se</a>
                                        </h6>
                                        <p>
                                            <a href="{{ path('app_zapojte_se') }}/#modlitba-za-blahoreceni" class="text-reset text-decoration-none hover-bold">modlitba</a>
                                            <br>
                                            <a href="{{ path('app_zapojte_se') }}/#dobrovolnictvi" class="text-reset text-decoration-none hover-bold">dobrovolnictví</a>
                                            <br>
                                            <a href="{{ path('app_zapojte_se') }}/#newsletter" class="text-reset text-decoration-none hover-bold">newsletter</a>
                                            <br>
                                            <a href="{{ path('app_zapojte_se') }}/#sdilejte-svedectvi" class="text-reset text-decoration-none hover-bold">sdílejte svědectví</a>
                                            <br>
                                            <a href="{{ path('app_zapojte_se') }}/#darujte" class="text-reset text-decoration-none hover-bold">darujte</a>
                                            <br>
                                            <a href="{{ path('app_zapojte_se') }}/#kontakt" class="text-reset text-decoration-none hover-bold">kontakt</a>
                                            <br>
                                            <a href="{{ asset('files/bula-drbola-graficky-manual.pdf') }}" target="_blank" class="text-reset text-decoration-none hover-bold">grafický manuál</a>
                                            <br>
                                            <a href="{{ path('clanky_url', {'url': 'gdpr'}) }}" class="text-reset text-decoration-none hover-bold">GDPR</a>
                                            <br>
                                            <a href="{{ path('clanky_url', {'url': 'gdpr'}) }}" class="text-reset text-decoration-none hover-bold">Licence</a>
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-xxl-8 col-xl-10 col-12">
                                <div class="row justify-content-center pb-2">
                                    <div class="col-12 text-center">
                                        <hr class="my-0 border-top border-white pb-1">
                                        &copy; 2025, Biskupství brněnské
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </footer>

        {% endblock %}

        {% block scripts %}
        {% endblock %}

    </body>
</html>
