{% extends 'base.html.twig' %}

{% block title %}Zapojte se{% endblock %}

{% block body %}
    <div class = "container-fluid pt-5 mt-3 overflow-x-hidden">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-12">
                <div class="row text-center mb-lg-5 mb-0">
                    <div class="col-12 pb-lg-5 mb-lg-3 mb-0 pb-0 p-3">
                        <h1 class="text-primary fw-bolder text-uppercase">Zapojte se</h1>
                    </div>
                </div>
                <div class="row justify-content-center mt-4 mb-5">
                    <div class="col-xl-3 col-lg-4 col-10 text-justify-left pe-lg-5 pe-0">
                        <h5 class="text-primary text-start fw-bolder">Modlitba za blahořečení</h5>
                        <p class="text-justify-left pt-4">Pane, děkujeme Ti za tvé služebníky, kněze Jana a Václava.
                            Jejich příklad nám ukazuje, jakou sílu nám může dát živý vztah s Tebou a jak
                            velkou stopu můžeme i my v životech ostatních udělat. Pokud budeme odrážet svým chováním
                            a jednáním Tvou lásku a dobrotu.</p>
                        <p class="text-justify-left">Prosíme Tě, aby se zpráva o jejich blahořečení dotkla co největšího počtu
                        lidí. Aby příběh, v jehož popředístojí odvaha, nezlomnost, pravda a odpuštění, doputovat do srdcí věřících po celém Česku.
                        Aby jim i do všednodenních situací dodával kuráž, naději a schopnost povznést se nad křivdy a nespravedlivé soudy.</p>
                        <p class="text-justify-left">Prosíme Tě, abychom si i díky příběhu kněží Jana a Václava jasně uvědomovali, že
                        jsi za každé situace s námi. Že nás ani v trápení, ani ve smutku, ani v zoufalství, ani ve zdánlivě bezvýchodných chvílích neopustíš
                            a že se na Tvou pomoc můžeme spolehnout.</p>
                        <p class="text-justify-left">Amen.</p>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-12 text-center my-5 position-relative overflow-visible ps-lg-5 ps-0">

                        <img src="{{ asset ('images/bula_drbola_prechod.jpg') }}" class="bula-drbola-prechod z-n1">
                        <div class="mt-lg-5 mt-0">
                            <a class="btn btn-sm btn-outline-primary rounded-pill mt-lg-5 mt-0 px-4">
                                <img src="{{ asset('images/download.svg') }}" height="20px" alt="Stáhnout" class="me-2">
                                Stáhnout modlitební kartičku
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="podbarveni_4">
                        <div class="row justify-content-center my-5 py-5">
                            <div class="col-xl-3 col-lg-4 col-10 text-justify-center pe-lg-5 p-0">
                                <img src="{{ asset('images/zs01.jpg') }}" class="img-fluid">
                            </div>
                            <div class="col-xl-3 col-lg-4 col-10 text-center ps-lg-5 ps-0">
                                <h5 class="text-white text-start pt-4 fw-bolder">Dobrovolnictví</h5>
                                <p class="text-white text-justify-left pt-4 ">
                                    Proces blahořečení vyvrcholí beatifikační slavností
                                    na brněnském výstavišti 21. a 22. listopadu.</p>
                                <p class="text-white text-justify-left">
                                    Očekávaná účast se pohybuje mezi 8 - 13 000 věřícími
                                    z celého Česka. Pro akci, která je svým rozsahem pro
                                    českou církvem mimořádná, bude potřeba zajistit
                                    dostatečné množství dobrovolníků, kteří se zapojí
                                    do různých částí programu.
                                </p>
                                <p class="text-white text-justify-left">
                                    Chceš nám při tom pomoct? Vyplň přihlášku a my
                                    se Ti ozveme s podrobnostmi.
                                </p>

                                <a class="btn btn-outline-light btn-sm rounded-pill px-4">Chci se zapojit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5 mb-5">
                    <div class="col-xl-3 col-lg-4 col-10 pe-lg-5 pe-0">
                        <h5 class="text-primary text-start pt-4 fw-bolder">Sdílejte svědectví</h5>
                        <p class="text-justify-left pt-4 ">
                            Zaujal Vás příběh umučených kněží a chtěli byste o něm povědět více lidem?</p>
                        <p class="text-justify-left">
                            Sdílejte video nebo příběh na webu.
                        </p>
                        <h6 class="text-primary text-start pt-4">Sdílet video</h6>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4">
                                <img src="{{ (asset('images/zs02.jpg')) }}" class="img-fluid">
                            </div>
                            <div class="col-lg-7 col-md-8 col-9">
                                <a class="btn btn-sm btn-outline-primary rounded-pill w-100 my-1 text-start p-0">
                                    <div class="d-flex align-items-start w-100">
                                        <img src="{{ asset('images/fb.svg') }}" height="30px" alt="Facebook" class="me-1">
                                        <span class="text-wrap m-auto pe-1">Sdílet na Facebooku</span>
                                    </div>
                                </a>
                                <a class="btn btn-sm btn-outline-primary rounded-pill w-100 my-1 text-start p-0">
                                    <div class="d-flex align-items-start w-100">
                                        <img src="{{ asset('images/inst.svg') }}" height="30px" alt="Instagram" class="me-1">
                                        <span class="text-wrap m-auto pe-1">Sdílet na Instagramu</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <h6 class="text-primary text-start pt-4">Sdílet příběh</h6>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4">
                                <img src="{{ (asset('images/zs03.jpg')) }}" class="img-fluid">
                            </div>
                            <div class="col-lg-7 col-md-8 col-9">
                                <a class="btn btn-sm btn-outline-primary rounded-pill w-100 my-1 text-start p-0">
                                    <div class="d-flex align-items-start w-100">
                                        <img src="{{ asset('images/fb.svg') }}" height="30px" alt="Facebook" class="me-1">
                                        <span class="text-wrap m-auto pe-1">Sdílet na Facebooku</span>
                                    </div>
                                </a>
                                <a class="btn btn-sm btn-outline-primary rounded-pill w-100 my-1 text-start p-0">
                                    <div class="d-flex align-items-start w-100">
                                        <img src="{{ asset('images/inst.svg') }}" height="30px" alt="Instagram" class="me-1">
                                        <span class="text-wrap m-auto pe-1">Sdílet na Instagramu</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-10 ps-lg-5 ps-0">
                        <h5 class="text-primary text-start pt-4 fw-bolder">Darujte</h5>
                        <p class="text-justify-left pt-4 ">
                            Pokud chcete podpořit pastorační a komunikační aktivity spojené s blahořečením Jana Buly
                        a&nbsp;Václava Drboly, budeme rádi, když přispějete libovolnou částkou na účet biskupství brněnského.</p>
                        <h6 class="text-black text-start pt-4">000000-1234567/01000</h6>
                        <p class="text-justify-left pt-4">
                            Váš dar pomůže pokrýt náklady na tiskoviny, doprovodné edukační materiály a samotný program
                            události blahořečení.
                        </p>
                        <div class="row d-flex justify-content-center justify-content-lg-start">
                            <div class="col-lg-4 col-10">
                                <img src="{{ (asset('images/qr.png')) }}" class="img-fluid d-block mx-lg-0 mx-auto">
                            </div>
                            <div class="col-lg-8 col-12 mt-lg-0 mt-3">
                                <p class="text-lg-start text-center small">Naskenujte v aplikaci své banky.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
