{% extends 'base.html.twig' %}

{% block title %}Zapojte se{% endblock %}

{% block body %}
    <div class = "container-fluid pt-5 mt-3 overflow-x-hidden">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-12">
                <div class="row text-center mb-lg-0 mb-0">
                    <div class="col-12 pb-lg-5 mb-lg-0 mb-0 pb-0 p-3">
                        <h1 class="text-primary fw-bolder text-uppercase">Zapojte se</h1>
                    </div>
                </div>
                <div class="row text-center mb-0">
                    <div class="col-12 pb-lg-5 mb-lg-3 mb-0 pb-0 p-3">
                        <a class="btn btn-sm btn-outline-primary rounded-pill px-4 border-2 mb-2 mx-1" href="#modlitba-za-blahoreceni">Modlitba</a>
                        <a class="btn btn-sm btn-outline-primary rounded-pill px-4 border-2 mb-2 mx-1" href="#dobrovolnictvi">Dobrovolnictví</a>
                        <a class="btn btn-sm btn-outline-primary rounded-pill px-4 border-2 mb-2 mx-1" href="#newsletter">Newsletter</a>
                        <a class="btn btn-sm btn-outline-primary rounded-pill px-4 border-2 mb-2 mx-1" href="#sdilejte-svedectvi">Sdílejte svědectví</a>
                        <a class="btn btn-sm btn-outline-primary rounded-pill px-4 border-2 mb-2 mx-1" href="#darujte">Darujte</a>
                    </div>
                </div>
                <div class="row justify-content-center mt-4 mb-5">
                    <div class="col-xl-3 col-lg-4 col-10 text-left pe-lg-5 pe-0">
                        <h5 id="modlitba-za-blahoreceni" class="scroll-offset text-primary text-start fw-bold">MODLITBA</h5>
                        <p class="pt-4">Pane Ježíši, nás Pastýři a&nbsp;Příteli,</p>


                            <p>děkujeme Ti za život a&nbsp;svědectví kněží Jana a&nbsp;Václava,

                            kteří odpověděli na Tvé volání a&nbsp;věrně Ti sloužili

                            i&nbsp;tváří v&nbsp;tvář utrpení a&nbsp;smrti.

                            Jejich statečnost, pokora a&nbsp;důvěra v&nbsp;Tebe

                                jsou pro nás inspirací a&nbsp;výzvou.</p>


                            <p>Prosíme Tě o&nbsp;dar živé a zralé víry za všech okolností.

                            Dej nám sílu k&nbsp;lásce, která odpouští, i&nbsp;když je to těžké,

                            a&nbsp;odvahu k vytrvalému hledání pravdy.

                                Připomínej nám, že s&nbsp;Tebou nejsme nikdy sami.</p>


                        <p>Ať nás příběh kněží Jana a&nbsp;Václava osloví a&nbsp;posílí na cestě k&nbsp;Tobě.</p>


                        <p>Neboť Ty žiješ a&nbsp;kraluješ na věky věků. Amen.</p>

                    </div>
                    <div class="col-xl-3 col-lg-4 col-12 text-center my-5 position-relative overflow-visible ps-lg-5 ps-0">

                        <img src="{{ asset ('images/bula_drbola_prechod.jpg') }}" class="bula-drbola-prechod z-n1">
                        <div class="mt-lg-5 mt-0">
                            <a class="btn btn-sm btn-outline-primary rounded-pill mt-lg-5 mt-0 px-4 border-2 download" href="{{ asset ('files/modlitba.pdf') }}" download="modlitba.pdf">
                                <svg class="download-svg me-1" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 0 533.78 405.59">
                                    <defs>
                                        <style type="text/css">
                                            .stroke {stroke:#210768;stroke-width:36.66;stroke-linecap:round;stroke-linejoin:bevel;stroke-miterlimit:22.9256}
                                            .fill {fill:none}
                                        </style>
                                    </defs>
                                    <path class="fill stroke" d="M515.45 203.7l0 124.54c0,32.46 -26.57,59.02 -59.02,59.02l-379.07 0c-32.46,0 -59.02,-26.56 -59.02,-59.02l0 -124.54"/>
                                    <line class="fill stroke" x1="268.44" y1="18.33" x2="265.56" y2= "286.87" />
                                    <line class="fill stroke" x1="161.54" y1="169.26" x2="266.44" y2= "290.05" />
                                    <line class="fill stroke" x1="373.08" y1="169.53" x2="267.54" y2= "289.76" />
                                </svg>
                                Stáhnout modlitební kartičku
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row py-4">
                    <div class="podbarveni_4">
                        <div class="row justify-content-center my-5 py-5">
                            <div class="col-xl-3 col-lg-4 col-10 text-justify-center pe-lg-5 p-0">
                                <img src="{{ asset('images/zs01.jpg') }}" class="img-fluid">
                            </div>
                            <div class="col-xl-3 col-lg-4 col-10 text-left ps-lg-5 ps-0">
                                <h5 id="dobrovolnictvi" class="scroll-offset text-white text-start pt-4 fw-bold">Dobrovolnictví</h5>
                                <p class="text-white pt-4 ">
                                    Proces blahořečení vyvrcholí beatifikační slavností
                                    na brněnském výstavišti v&nbsp;červnu 2026.</p>
                                <p class="text-white">
                                    Očekávaná účast se pohybuje mezi 5000–8000 věřícími
                                    z&nbsp;celého Česka. Pro akci, která je svým rozsahem pro
                                    českou církev mimořádná, bude potřeba zajistit
                                    dostatečné množství dobrovolníků, kteří se zapojí
                                    do různých částí programu.
                                </p>
                                <p class="text-white">
                                    Chcete nám při tom pomoct? Vyplňte přihlášku a&nbsp;my se Vám ozveme s&nbsp;podrobnostmi.
                                </p>

                                <a class="btn btn-outline-light btn-sm rounded-pill px-4 border-2" href="{{ path('app_dobrovolnici') }}">Chci se zapojit</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center mt-5 mb-5">
                    <div class="col-xl-3 col-lg-4 col-10 pe-lg-5 pe-0">
                        <h5 id="newsletter" class="scroll-offset text-primary text-start pt-4 fw-bold">Newsletter</h5>
                        <p class="pt-4 ">
                            Chcete dostávat pravidelně důležité informace a novinky o doprovodných akcích a o samotné slavnosti blahořečení?
                            Přihlaste se k odběru našeho newsletteru a nenechte si ujít nové výzvy a updaty.</p>
                        <p>
                            Stačí zadat e-mail a zůstat v kontaktu.</p>
                        <p>
                            Na první zprávy se můžete těšit v průběhu listopadu.
                        </p>


                    </div>
                    <div class="col-xl-3 col-lg-4 col-10 ps-lg-5 ps-0 scroll-offset" id="newsletter-zapsano">
                        {{ form_start(newsletterForm, {
                            'action': path('app_newsletter'),
                            'attr': {
                                'class': 'd-flex gap-2 mt-4'
                            }
                        }) }}
                                <div class="row">
                                    <div class="col-12 mt-lg-5 pt-1 mt-0">
                                    {{ form_widget(newsletterForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Zadejte svůj e-mail'}}) }}
                                    </div>

                                    <div class="col-12">
                                        <button type="submit" class="btn btn-sm btn-outline-primary rounded-pill mt-3 px-4 border-2">Přihlásit se k odběru</button>

                                    </div>
                                </div>
                        {{ form_end(newsletterForm) }}
                        <div class="row mt-3 mb-0">
                            <div class="col">
                                {% for label, messages in app.flashes %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row justify-content-center mt-5 mb-5">
                    <div class="col-xl-3 col-lg-4 col-10 pe-lg-5 pe-0">
                        <h5 id="sdilejte-svedectvi" class="scroll-offset text-primary text-start pt-4 fw-bold">Sdílejte svědectví</h5>
                        <p class="pt-4 ">
                            Zaujal Vás příběh umučených kněží a&nbsp;chtěli byste o&nbsp;něm povědět více lidem?</p>
                        <p>
                            Sdílejte video nebo příběh na webu.
                        </p>
                        <h6 class="text-primary text-start pt-4">Sdílet video</h6>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4">
                                <img src="{{ (asset('images/zs02.jpg')) }}?v=1" class="img-fluid">
                            </div>
                            <div class="col-lg-7 col-md-8 col-9">
                                <div class="btn btn-sm btn-outline-primary rounded-pill w-100 my-1 text-start p-0 border-2" id="shareButton2" >
                                    <div class="d-flex align-items-start w-100">
                                        <img src="{{ asset('images/fb.svg') }}" height="30px" alt="Facebook" class="me-1">
                                        <span class="text-wrap m-auto pe-1">Sdílet na Facebooku</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h6 class="text-primary text-start pt-4">Sdílet příběh</h6>
                        <div class="row">
                            <div class="col-xl-3 col-lg-4">
                                <img src="{{ (asset('images/zs03.jpg')) }}" class="img-fluid">
                            </div>
                            <div class="col-lg-7 col-md-8 col-9">
                                <div class="btn btn-sm btn-outline-primary rounded-pill w-100 my-1 text-start p-0 border-2" id="shareButton1" >
                                    <div class="d-flex align-items-start w-100">
                                        <img src="{{ asset('images/fb.svg') }}" height="30px" alt="Facebook" class="me-1">
                                        <span class="text-wrap m-auto pe-1">Sdílet na Facebooku</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-10 ps-lg-5 ps-0">
                        <h5 id="darujte" class="scroll-offset text-primary text-start pt-4 fw-bold">Darujte</h5>
                        <p class="pt-4 ">
                            Pokud chcete podpořit pastorační a&nbsp;komunikační aktivity spojené s&nbsp;blahořečením Jana Buly
                        a&nbsp;Václava Drboly, budeme rádi, když přispějete libovolnou částkou. Přes portál Donátor.cz můžete k darům obdržet potvrzení.</p>
{#                        <h6 class="text-black fw-bold text-start pt-4">1341625329/0800</h6>#}
                        <h6 class="text-black fw-bold text-start pt-0"><a class="btn btn-sm btn-outline-primary rounded-pill mt-lg-5 mt-0 px-4 border-2" href="https://donator.cz/projekt/kanonizacebd" target="_blank">Přispět na portálu Donátor.cz</a></h6>
                        <p class="pt-4">
                            Váš dar pomůže pokrýt náklady na tiskoviny, doprovodné edukační materiály a&nbsp;samotný program
                            události blahořečení.
                        </p>
                        <div class="row d-flex justify-content-center justify-content-lg-start">
                            <div class="col-lg-4 col-10">
                                <img src="{{ (asset('images/qr.png')) }}" class="img-fluid d-block mx-lg-0 mx-auto">
                            </div>
                            <div class="col-lg-8 col-12 mt-lg-0 mt-3">
                                <p class="text-lg-start text-center small">Přímá platba bez možnosti potvrzení o daru – naskenujte QR kód v&nbsp;aplikaci své banky.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    <script>
        document.getElementById("shareButton1").addEventListener("click", async () => {
            const pageUrl = 'https://www.buladrbola.cz';
            const pageTitle = 'Jan Bula a Václav Drbola';

            // 🧩 Funkce pro zjištění, zda je zařízení mobil
            const isMobile = /Mobi|Android|iPhone|iPad|iPod/i.test(navigator.userAgent);

            if (isMobile && navigator.share) {
                // 📱 Mobil: otevře nativní nabídku sdílení
                try {
                    await navigator.share({
                        title: pageTitle,
                        text: "Sdílím stránku",
                        url: pageUrl
                    });
                    console.log("Sdílení proběhlo úspěšně!");
                } catch (err) {
                    console.log("Sdílení zrušeno:", err);
                }
            } else {
                // 💻 Desktop: otevře Facebook dialog
                const fbShareUrl = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(pageUrl)}`;
                window.open(fbShareUrl, "_blank", "width=600,height=400");
            }
        });

        document.getElementById("shareButton2").addEventListener("click", async () => {
            const pageUrl = 'https://www.youtube.com/watch?v={{ video_id }}';
            const pageTitle = 'Jan Bula a Václav Drbola';

            // 🧩 Funkce pro zjištění, zda je zařízení mobil
            const isMobile = /Mobi|Android|iPhone|iPad|iPod/i.test(navigator.userAgent);

            if (isMobile && navigator.share) {
                // 📱 Mobil: otevře nativní nabídku sdílení
                try {
                    await navigator.share({
                        title: pageTitle,
                        text: "Sdílím video",
                        url: pageUrl
                    });
                    console.log("Sdílení proběhlo úspěšně!");
                } catch (err) {
                    console.log("Sdílení zrušeno:", err);
                }
            } else {
                // 💻 Desktop: otevře Facebook dialog
                const fbShareUrl = `https://www.facebook.com/sharer/sharer.php?u=${encodeURIComponent(pageUrl)}`;
                window.open(fbShareUrl, "_blank", "width=600,height=400");
            }
        });
    </script>

{% endblock %}
