{% extends 'base.html.twig' %}

{% block title %}Příběh Jana Buly a Václava Drboly{% endblock %}

{% block body %}
<div class = "container-fluid pt-5 mt-3">
    <div class="row justify-content-center">
        <div class="col-lg-11 col-12">
            <div class="row text-center">
                <div class="col-12 p-3">
                    <h1 class="text-primary fw-bolder text-uppercase">Příběh</h1>
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class = "col-xl-6 col-lg-9 col-10">
                    <p class="text-justify-center">Jan Bula a Václav Drbola. Dvě jména, která měla být zapomenuta.
                        Díky své neústupnosti, odvaze a věrnosti pravdě si ale dva obyčejní venkovští faráři po víc
                        než 70 letech vysloužili jedinečné místo v našich dějinách jako první blahoslavení moderní
                        české historie.</p>
                    <p class="text-justify-center">
                        <a class="text-primary" href="/files/podrobny_zivot.pdf" target="_blank">Jejich příběh</a> nás vrací do období těsně před a po komunistickém převratu,
                        tedy do let těžké náboženské perzekuce totalitního režimu, který se snažil církev v tehdejším
                        Československu podřídit státní moci. Ve vykonstruovaných procesech byli oba kněží na začátku
                        50.&nbsp;let odsouzeni k trestu smrti přesto, že se zločinů, z kterých je vinila obžaloba,
                        nedopustili a dopustit ani nemohli. Popravou ale jejich příběh neskončil.</p>
                    <p class="text-justify-center">
                        Oba muži se stali
                        symbolem odporu vůči útlaku, neochvějné pevnosti hodnot, vnitřní integrity a hluboké víry.
                        Jan Bula a Václav Drbola byli plně rehabilitováni až po roce 1989, kdy byly jejich popravy
                        označeny za justiční vraždy. Jejich odkaz pak inspiroval věřící a vedení brněnské diecéze
                        k&nbsp;zahájení snah o jejich blahořečení, ke kterému letos konečně došlo.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12 mt-5 p-3">
                    <h5 class="text-primary fw-bold">V čem je jejich příběh výjimečný?</h5>
                </div>
            </div>
            <div class="row justify-content-center d-flex flex-row mt-1">
                <div class="col-xl-2 col-lg-3 col-8 d-flex flex-column text-center mb-lg-0 mb-5">
                    <p class="p-3">
                        <img src="{{ asset('images/kolarek.svg') }}" height="35px" alt="Grafika">
                    </p>
                    <p class="p-0">
                        Jde o první blahoslavené oběti totalitních režimů 20.&nbsp;století na území dnešní České republiky – oba kněží jsou prvními blahoslavenými moderní české historie<br>
                        (žili a zemřeli ve 20.&nbsp;století).
                    </p>
                </div>

                <div class="col-xl-2 col-lg-3 col-8 d-flex flex-column text-center mb-lg-0 mb-5">
                    <p class="p-3">
                        <img src="{{ asset('images/kolarek.svg') }}" height="35px" alt="Grafika">
                    </p>
                    <p class="p-0">
                        Od roku 1989 jde teprve o&nbsp;druhý úspěšně zakončený proces blahořečení v České republice.
                    </p>
                </div>

                <div class="col-xl-2 col-lg-3 col-8 d-flex flex-column text-center mb-lg-0 mb-5">
                    <p class="p-3">
                        <img src="{{ asset('images/kolarek.svg') }}" height="35px" alt="Grafika">
                    </p>
                    <p class="p-0">
                        Jde o první blahořečené či svatořečené na území brněnské diecéze v&nbsp;celé její historii.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "container-fluid bg-primary text-white">
    <div class="row">
        <div class="podbarveni_2">
            <div class="text-center m-lg-5 p-lg-5 m-0 p-0">
                <img class="img-fluid" src = "{{ asset('images/bula_drbola.png') }}" alt="Jan Bula a Václav Drbola">
            </div>
        </div>
    </div>
    <div class="posun-300">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-md-4 col-10 casova-osa-linie-start text-end">
                <h1 class="text-uppercase pb-4 px-4">Jan Bula</h1>
            </div>
            <div class="col-xl-4 col-4 d-none d-md-flex">
                <h1 class="text-uppercase pb-4 px-4">Václav Drbola</h1>
            </div>
        </div>
        <div class="row d-none d-md-flex justify-content-center">
            <div class="col-xl-3 col-4 bod-casove-osy text-end">
                <div class="casova-osa-element d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-xl-3 col-4">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa1" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1912</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa1" role="button">
                        <div class="p-2">

                            <p class="fw-bold">Narozen 16. října 1912 v&nbsp;jihomoravských Starovičkách poblíž Hustopečí</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa1">
                                <p>Václav Drbola se narodil 16. října 1912 v&nbsp;jihomoravské vesnici Starovičky poblíž Hustopečí jako nejstarší
                                    ze sedmi dětí Růženy a&nbsp;Václava Drbolových. Početná rodina neměla finančních prostředků nazbyt, Václav ale
                                    přesto vystudoval reálné gymnázium v&nbsp;blízkých Hustopečích. </p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-4 col-10 bod-casove-osy text-end">
                <div class="scroll-top casova-osa-element-levy casova-osa-element-levy-hover d-flex flex-row-reverse">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa2" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1920</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa2" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Narozen 24. června 1920 v&nbsp;Lukově u&nbsp;Moravských Budějovic</p>
                            <div class="fw-normal collapse multi-collapse casovaOsa2">
                                <p>Jan Bula se narodil 24. června 1920 Marii a&nbsp;Antonínu Bulovým v&nbsp;Lukově na jihu Českomoravské vrchoviny poblíž Moravských Budějovic.
                                    Hned v den narození byl zároveň i&nbsp;pokřtěn v&nbsp;místním kostele sv. Jana Křtitele a po tomto světci dostal také jméno.
                                    Navzdory skromným rodinným poměrům navštěvoval Jan reálné gymnázium v Moravských Budějovicích, kde se spolužáky vydával
                                    humoristický časopis, kam maloval a&nbsp;kreslil. </p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-4 d-none d-md-flex">
                <div class="casova-osa-element d-flex flex-row">
                </div>
            </div>
        </div>
        <div class="row d-none d-md-flex justify-content-center">
            <div class="col-xl-3 col-4 bod-casove-osy text-end">
                <div class="casova-osa-element d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-xl-3 col-4">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa3" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1938</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa3" role="button">
                        <div class="p-2">
                            <p class="fw-bold">5. července 1938 vysvěcen na kněze v&nbsp;Brně</p>
    
                            <div class="fw-normal collapse multi-collapse casovaOsa3">
                                <p>V&nbsp;kostele ve Starovičkách ministroval a&nbsp;podobně jako Jana Bulu i&nbsp;Václava ovlivnil v&nbsp;cestě
                                    za kněžstvím zdejší farář Cyril Vala. Václav odmaturoval v&nbsp;roce 1933 a&nbsp;následně zahájil teologické studium a&nbsp;duchovní
                                    formaci v&nbsp;kněžském alumnátu v&nbsp;Brně. Vysvěcen byl v&nbsp;katedrále sv. Petra a&nbsp;Pavla brněnským diecézním biskupem
                                    Josefem Kupkou na svátek sv. Cyrila a Metoděje – 5.&nbsp;července 1938.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-4 col-10 bod-casove-osy text-end">
                <div class="scroll-top casova-osa-element-levy casova-osa-element-levy-hover d-flex flex-row-reverse">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa4" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1945</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa4" role="button">
                        <div class="p-2">
                            <p class="fw-bold">29. července 1945 vysvěcen na kněze v&nbsp;Brně</p>
                            <div class="fw-normal collapse multi-collapse casovaOsa4">
                                <p>Už před maturitou měl na Bulovu duchovní formaci vliv lukovský farář Cyril Bojanovský – i&nbsp;díky jeho pomoci při rozlišování duchovního povolání
                                    vstoupil v&nbsp;roce 1939 Jan Bula do kněžského alumnátu v&nbsp;Brně. Během války byl nasazen na nucené práce a&nbsp;studium teologie tak mohl dokončit až po
                                    válce. V&nbsp;roce 1945 byl v&nbsp;brněnské katedrále vysvěcen na kněze.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-4 d-none d-md-flex">
                <div class="casova-osa-element d-flex flex-row">

                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-4 col-10 casova-osa-linie text-end">

            </div>

            <div class="col-xl-3 col-4 d-none d-md-flex">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa5" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok"></h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa5" role="button">
                        <div class="p-2">
                            <p class="fw-bold">1938–1950 v&nbsp;kněžské službě ve Slavkově u&nbsp;Brna, Čučicích a&nbsp;Bučovicích</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa5">
                                <p>Navzdory přibližující se hrozbě nacistického Německa oslavil Václav Drbola svou primiční mši 10.&nbsp;července 1938
                                    v&nbsp;rodných Starovičkách. Následně byl poslán do Slavkova u&nbsp;Brna jako pomocný duchovní. Se začátkem
                                    druhé světové války byl přeložen do vesnice Čučice a&nbsp;v&nbsp;roce 1943 se stal opět kooperátorem, tentokrát
                                    v&nbsp;Bučovicích, kde sloužil dalších 7&nbsp;let.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-4 col-10 casova-osa-linie text-end">
                <div class="scroll-top casova-osa-element-levy casova-osa-element-levy-hover d-flex flex-row-reverse">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa6" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok"></h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa6" role="button">
                        <div class="p-2">
                            <p class="fw-bold">1945–1951 v&nbsp;kněžské službě v&nbsp;Rokytnici nad Rokytnou</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa6">
                                <p>Jediným kněžským působištěm Jana Buly se stalo městečko Rokytnice nad Rokytnou na Třebíčsku.
                                    Shodou okolností byl i&nbsp;tamní kostel zasvěcen Bulovu křestnímu patronovi – sv. Janu Křtiteli.
                                    Mladý kněz ve farnosti často zastupoval dlouhodobě nemocného faráře, nadto se ale velmi aktivně
                                    zapojoval do komunitního života v&nbsp;obci – organizoval pobyty pro děti v&nbsp;přírodě, pomáhal při představeních
                                    ochotnického divadla a&nbsp;byl také členem lidové strany a křesťanské tělovýchovné organizace OREL.
                                    Ve volných chvílích se rád vracel ke koníčkům z&nbsp;mládí – maloval a kreslil. U&nbsp;farníků byl mimořádně oblíben,
                                    díky obětavé, laskavé a&nbsp;radostné povaze se těšil popularitě obzvláště mezi mladými a&nbsp;dětmi. </p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-4 d-none d-md-flex">

            </div>
        </div>

        <div class="row d-none d-md-flex justify-content-center">
            <div class="col-xl-3 col-4 bod-casove-osy text-end">
                <div class="casova-osa-element-levy d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-xl-3 col-4">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa7" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1950</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa7" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Knězem v Babicích</p>
    
                            <div class="fw-normal collapse multi-collapse casovaOsa7">
                                <p>V&nbsp;únoru 1950 byl Václav Drbola přeložen do Babic v&nbsp;Českomoravské vrchovině, kde jako správce farnosti nahradil
                                    faráře Arnošta Poláčka. Ten byl předtím zatčen za údajnou protistátní činnost. Kromě povinností spojených s&nbsp;kněžskou službou,
                                    vyučoval Václav náboženství, vedl farní hospodářství a&nbsp;začal s&nbsp;opravou kostelních varhan. Dopisoval si s&nbsp;některými lidmi
                                    z&nbsp;Bučovic a&nbsp;pochopitelně se seznamoval i&nbsp;se svými novými farníky. Mezi jeho přátele se pak zařadili zejména ti, kteří
                                    veřejně nesouhlasili s&nbsp;nastupující komunistickou totalitou.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-4 col-10 bod-casove-osy text-end">
                <div class="scroll-top casova-osa-element-levy casova-osa-element-levy-hover d-flex flex-row-reverse">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa8" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1951</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa8" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Nespravedlivě odsouzen k&nbsp;smrti ve&nbsp;vykonstruovaném procesu v&nbsp;souvislosti s&nbsp;tzv.&nbsp;babickým případem.</p>
    
                            <div class="fw-normal collapse multi-collapse casovaOsa8">
                                <p>Janu Bulovi se stalo osudným setkání s&nbsp;bývalým spolužákem z&nbsp;gymnázia Ladislavem Malým,
                                    který ho poprvé navštívil 25. února 1951 na faře v&nbsp;Rokytnici. Malý tehdy Jana Bulu lživě přesvědčoval
                                    k&nbsp;smyšlené návštěvě arcibiskupa Josefa Berana za účelem poskytnutí svátostí. Arcibiskupa měl podle své
                                    legendy údajně zachraňovat se svými spolupracovníky z&nbsp;internace a&nbsp;zajistit jeho přechod přes hranici
                                    do&nbsp;západní Evropy. Příběh byl ale zcela lživý a&nbsp;k&nbsp;chystané návštěvě spojené se zpovědí arcibiskupa nikdy
                                    nedošlo. Ladislav Malý, svérázný dobrodruh, odbojář, lhář a&nbsp;opilec se po týdnech domlouvání a&nbsp;návštěv
                                    na&nbsp;rokytnické faře zapletl do přestřelky při zastrašovací akci v&nbsp;Heralticích. StB začala s&nbsp;okamžitým
                                    zatýkáním a&nbsp;výslechy, pro Jana Bulu si přišla do výuky náboženství na&nbsp;škole v&nbsp;Rokytnici. Situace po několika
                                    týdnech eskalovala další střelbou, tentokrát v&nbsp;budově babické školy, kde Ladislav Malý ještě se třemi spolupracovníky
                                    zastřelil tři místní komunistické funkcionáře. Přestože byl Jan Bula už více než dva měsíce před těmito vraždami uvězněný,
                                    stal se – coby populární kněz – bez dalších důkazů jedním z hlavních obviněných v&nbsp;tzv.&nbsp;babickém procesu.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-4 d-none d-md-flex">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa9" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1951</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa9" role="button">
                        <div class="p-2">
                            <p class="fw-bold">17. června 1951 zadržen jako podezřelý v&nbsp;souvislosti s&nbsp;tzv.&nbsp;babickým případem</p>
    
                            <div class="fw-normal collapse multi-collapse casovaOsa9">
                                <p>I&nbsp;Václav Drbola se podobně jako Jan Bula v&nbsp;roce 1951 setkal s&nbsp;Ladislavem Malým,
                                    který mu rovněž vyprávěl příběh o&nbsp;arcibiskupovi Josefu Beranovi a&nbsp;jeho fiktivním přání
                                    absolvovat svátost smíření. Stejně jako Jan Bula, tak i&nbsp;Václav Drbola přislíbil, že se za&nbsp;arcibiskupem
                                    Beranem vydá. Zatčen příslušníky StB byl 17.&nbsp;června 1951, důvody pro jeho obvinění se hledaly až ve&nbsp;vězení.
                                    2.&nbsp;července pak ozbrojená skupina pod vedením Malého spáchala trojnásobnou vraždu komunistických funkcionářů
                                    v&nbsp;babické škole. Událost se odehrála dva týdny po Drbolově zadržení, přesto byl kněz dosazen do soudního procesu
                                    jako jeden z&nbsp;údajných strůjců tragické přestřelky.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-4 col-10 casova-osa-linie text-end">
                <div class="casova-osa-element-levy d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-xl-3 col-4 d-none d-md-flex">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa10" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok"></h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa10" role="button">
                        <div class="p-2">
                            <p class="fw-bold">3. srpna 1951 oběšen na&nbsp;dvoře jihlavské věznice</p>
    
                            <div class="fw-normal collapse multi-collapse casovaOsa10">
                                <p>Zinscenovaný soudní proces byl zahájen 12.&nbsp;července, jen 10 dní po vražedných útocích.
                                    Václav Drbola byl na konci procesu odsouzen k&nbsp;trestu smrti pro zločiny velezrady a&nbsp;návodu k&nbsp;vraždě.
                                    Jeho odvolání bylo Nejvyšším soudem v&nbsp;Praze zamítnuto a&nbsp;ráno 3.&nbsp;srpna 1951 byla na dvoře jihlavské
                                    věznice provedena poprava oběšením.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-4 col-10 bod-casove-osy text-end">
                <div class="scroll-top casova-osa-element-levy casova-osa-element-levy-hover d-flex flex-row-reverse">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa11" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1952</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa11" role="button">
                        <div class="p-2">
                            <p class="fw-bold">20. května 1952 popraven v Jihlavě</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa11">
                                <p>Jan Bula byl násilnými metodami přinucen vypovídat ve svůj neprospěch a&nbsp;u&nbsp;soudu byl v&nbsp;listopadu 1951
                                    odsouzen za napomáhání vraždě a&nbsp;za velezradu k&nbsp;trestu smrti. Janova rodina opakovaně žádala o&nbsp;milost
                                    prezidenta Gottwalda, tehdejšího ministra spravedlnosti nebo Nejvyšší soud v&nbsp;Praze. Marně. Poprava se nakonec
                                    uskutečnila 20.&nbsp;května 1952 na nádvoří jihlavské věznice. Den před popravou směl Jan Bula napsat dopisy blízkým
                                    na rozloučenou, z&nbsp;nichž se mnohé dochovaly a můžete si je přečíst <strong><a class="text-white" href="/files/bula_drbola_dopisy.pdf" target="_blank"  rel="noopener noreferrer" onclick="event.stopPropagation(); window.open(this.href, '_blank'); return false;">na tomto webu</a></strong>.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-4 d-none d-md-flex">
                <div class="casova-osa-element d-flex flex-row">
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-4 col-10 bod-casove-osy text-end">
                <div class="scroll-top casova-osa-element-levy casova-osa-element-levy-hover d-flex flex-row-reverse">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa12" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1990</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa12" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Soudně rehabilitován</p>
    
                            <div class="fw-normal collapse multi-collapse casovaOsa12">
                                <p>Přes všechnu snahu komunistické propagandy si řada lidí uvědomovala, že se Jan Bula ničím neprovinil a&nbsp;byl
                                    popraven pravděpodobně zejména pouze proto, že byl kněz. Myšlenky na očištění jeho jména se poprvé objevily už v&nbsp;roce 1968,
                                    až v&nbsp;roce 1990 byl ale soudně rehabilitován a&nbsp;jeho poprava byla označena za justiční vraždu.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-4 d-none d-md-flex">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa13" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1990</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa13" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Soudně rehabilitován</p>
    
                            <div class="fw-normal collapse multi-collapse casovaOsa13">
                                <p>Už v&nbsp;roce 1951, tedy bezprostředně po smrti Václava Drboly, se odsouzených kněží zastala část českého
                                    vysílání stanice Radio Vaticana. V&nbsp;komunistickém Československu se ale zpráva dostala jen k malému počtu
                                    lidí a&nbsp;znovu se o&nbsp;obětech procesů 50.&nbsp;let začalo hovořit až v&nbsp;roce 1968. Pozvolná rehabilitace
                                    jména a&nbsp;osudu Václava Drboly přišla až po roce 1989. Nejprve bylo zrušeno jeho odsouzení pro zločin velezrady,
                                    v&nbsp;roce 1997 bylo zastaveno také trestní stíhání pro “navádění k&nbsp;vraždě”. V&nbsp;90.&nbsp;letech a&nbsp;na
                                    počátku tisíciletí byly v&nbsp;Jihlavě, ve Starovičkách, v&nbsp;Třebíči a&nbsp;v&nbsp;Bučovicích umístěny pamětní
                                    desky věnované Václavu Drbolovi a&nbsp;jeho památce.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-4 col-10 bod-casove-osy text-end">
                <div class="scroll-top_ casova-osa-element-levy casova-osa-element-levy-hover d-flex flex-row-reverse">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse_" data-bs-target=".casovaOsa14" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">2004</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse_" data-bs-target=".casovaOsa14" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Zahájení beatifikačního řízení na diecézní úrovni</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa14">
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-4 d-none d-md-flex">

            </div>
        </div>

        <div class="row d-none d-md-flex justify-content-center">
            <div class="col-xl-3 col-4 bod-casove-osy text-end">
                <div class="casova-osa-element d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-xl-3 col-4">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa15" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">2011</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa15" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Zahájení beatifikačního řízení na diecézní úrovni</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa15">
                                <p>Pamětní deska na farní budově v&nbsp;Bučovicích byla odhalena a&nbsp;požehnána 2.&nbsp;září 2011 – v&nbsp;den,
                                    kdy tehdejší brněnský biskup Vojtěch Cikrle zahájil diecézní část beatifikačního řízení Václava Drboly.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-4 col-10 bod-casove-osy text-end">
                <div class="scroll-top casova-osa-element-levy casova-osa-element-levy-hover d-flex flex-row-reverse">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa16" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">2025</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa16" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Papež Lev XIV. potvrdil záměr blahořečení</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa16">
                                <p>Papež Lev XIV. formálně potvrdil záměr blahořečení Jana Buly a&nbsp;Václava Drboly.
                                    Církev tak oběma mužům přiznává zásluhy a&nbsp;ctnosti spojené s&nbsp;mučednickou smrtí.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-4 d-none d-md-flex">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa17" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">2025</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa17" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Papež Lev XIV. potvrdil záměr blahořečení</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa17">
                                <p>Papež Lev XIV. formálně potvrdil záměr blahořečení Jana Buly a&nbsp;Václava Drboly.
                                    Církev tak oběma mužům přiznává zásluhy a&nbsp;ctnosti spojené s&nbsp;mučednickou smrtí.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-4 col-10 bod-casove-osy text-end">
                <div class="scroll-top casova-osa-element-levy casova-osa-element-levy-hover d-flex flex-row-reverse">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa18" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">2026</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa18" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Slavnost blahořečení na brněnském výstavišti</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa18">
                                <p>Při slavnosti blahořečení na brněnském výstavišti se Jan Bula a&nbsp;Václav Drbola stanou blahoslavenými.
                                    Jde o&nbsp;mimořádný moment v&nbsp;moderních dějinách české církve.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-4 d-none d-md-flex">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa19" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">2026</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa19" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Slavnost blahořečení na brněnském výstavišti</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa19">
                                <p>Při slavnosti blahořečení na brněnském výstavišti se Jan Bula a&nbsp;Václav Drbola stanou blahoslavenými.
                                    Jde o&nbsp;mimořádný moment v&nbsp;moderních dějinách české církve.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-xl-3 col-md-4 col-10 casova-osa-linie-end text-end">

            </div>

            <div class="col-xl-3 col-4 d-none d-md-flex">

            </div>
        </div>

        <!-- Zde zacina druha cast linie pro mobilni zarizeni !-->
        <div class="row d-flex d-md-none mt-4">
            <div class="col-1 casova-osa-linie-start text-end">
            </div>
            <div class="col-10">
                <h1 class="text-uppercase pb-4 px-4">Václav Drbola</h1>
            </div>
        </div>
        <div class="row d-flex d-md-none">
            <div class="col-1 bod-casove-osy text-end">
                <div class="casova-osa-element d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-10">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa20" role="button">
                       <h4 class="p-2 text-secondary casova-osa-rok">1912</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa20" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Narozen 16. října 1912 v&nbsp;jihomoravských Starovičkách poblíž Hustopečí</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa20">
                                <p>Václav Drbola se narodil 16. října 1912 v&nbsp;jihomoravské vesnici Starovičky poblíž Hustopečí jako nejstarší
                                    ze sedmi dětí Růženy a&nbsp;Václava Drbolových. Početná rodina neměla finančních prostředků nazbyt, Václav ale
                                    přesto vystudoval reálné gymnázium v&nbsp;blízkých Hustopečích. </p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex d-md-none">
            <div class="col-1 bod-casove-osy text-end">
                <div class="casova-osa-element d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-10">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa21" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1938</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa21" role="button">
                        <div class="p-2">
                            <p class="fw-bold">5. července 1938 vysvěcen na kněze v&nbsp;Brně</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa21">
                                <p>V&nbsp;kostele ve Starovičkách ministroval a&nbsp;podobně jako Jana Bulu i&nbsp;Václava ovlivnil v&nbsp;cestě
                                    za kněžstvím zdejší farář Cyril Vala. Václav odmaturoval v&nbsp;roce 1933 a&nbsp;následně zahájil teologické studium a&nbsp;duchovní
                                    formaci v&nbsp;kněžském alumnátu v&nbsp;Brně. Vysvěcen byl v&nbsp;katedrále sv. Petra a&nbsp;Pavla brněnským diecézním biskupem
                                    Josefem Kupkou na svátek sv. Cyrila a Metoděje – 5.&nbsp;července 1938.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex d-md-none">
            <div class="col-1 casova-osa-linie text-end">
                <div class="casova-osa-element-levy d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-10">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa22" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok"></h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa22" role="button">
                        <div class="p-2">
                            <p class="fw-bold">1938–1950 v&nbsp;kněžské službě ve Slavkově u&nbsp;Brna, Čučicích a&nbsp;Bučovicích</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa22">
                                <p>Navzdory přibližující se hrozbě nacistického Německa oslavil Václav Drbola svou primiční mši 10.&nbsp;července 1938
                                    v&nbsp;rodných Starovičkách. Následně byl poslán do Slavkova u&nbsp;Brna jako pomocný duchovní. Se začátkem
                                    druhé světové války byl přeložen do vesnice Čučice a&nbsp;v&nbsp;roce 1943 se stal opět kooperátorem, tentokrát
                                    v&nbsp;Bučovicích, kde sloužil dalších 7&nbsp;let.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex d-md-none">
            <div class="col-1 bod-casove-osy text-end">
                <div class="casova-osa-element-levy d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-10">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa23" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1950</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa23" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Knězem v Babicích</p>
    
                            <div class="fw-normal collapse multi-collapse casovaOsa23">
                                <p>V&nbsp;únoru 1950 byl Václav Drbola přeložen do Babic v&nbsp;Českomoravské vrchovině, kde jako správce farnosti nahradil
                                    faráře Arnošta Poláčka. Ten byl předtím zatčen za údajnou protistátní činnost. Kromě povinností spojených s&nbsp;kněžskou službou,
                                    vyučoval Václav náboženství, vedl farní hospodářství a&nbsp;začal s&nbsp;opravou kostelních varhan. Dopisoval si s&nbsp;některými lidmi
                                    z&nbsp;Bučovic a&nbsp;pochopitelně se seznamoval i&nbsp;se svými novými farníky. Mezi jeho přátele se pak zařadili zejména ti, kteří
                                    veřejně nesouhlasili s&nbsp;nastupující komunistickou totalitou.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex d-md-none">
            <div class="col-1 bod-casove-osy text-end">
                <div class="casova-osa-element-levy d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-10">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa24" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1951</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa24" role="button">
                        <div class="p-2">
                            <p class="fw-bold">17. června 1951 zadržen jako podezřelý v&nbsp;souvislosti s&nbsp;tzv.&nbsp;babickým případem</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa24">
                                <p>I&nbsp;Václav Drbola se podobně jako jan Bula v&nbsp;roce 1951 setkal s&nbsp;Ladislavem Malým,
                                    který mu rovněž vyprávěl příběh o&nbsp;arcibiskupovi Josefu Beranovi a&nbsp;jeho fiktivním přání
                                    absolvovat svátost smíření. Stejně jako Jan Bula, tak i&nbsp;Václav Drbola přislíbil, že se za&nbsp;arcibiskupem
                                    Beranem vydá. Zatčen příslušníky StB byl 17.&nbsp;června 1951, důvody pro jeho obvinění se hledaly až ve&nbsp;vězení.
                                    2.&nbsp;července pak ozbrojená skupina pod vedením Malého spáchala trojnásobnou vraždu komunistických funkcionářů
                                    v&nbsp;babické škole. Událost se odehrála dva týdny po Drbolově zadržení, přesto byl kněz dosazen do soudního procesu
                                    jako jeden z&nbsp;údajných strůjců tragické přestřelky.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex d-md-none">
            <div class="col-1 casova-osa-linie text-end">
                <div class="casova-osa-element-levy d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-10">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa25" role="button">
                      <h4 class="p-2 text-secondary casova-osa-rok"></h4>
                    </div>
                    <div class="scroll-top-on-click scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa25" role="button">
                        <div class="p-2">
                            <p class="fw-bold">3. srpna 1951 oběšen na&nbsp;dvoře jihlavské věznice</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa25">
                                <p>Zinscenovaný soudní proces byl zahájen 12.&nbsp;července, jen 10 dní po vražedných útocích.
                                    Václav Drbola byl na konci procesu odsouzen k&nbsp;trestu smrti pro zločiny velezrady a&nbsp;návodu k&nbsp;vraždě.
                                    Jeho odvolání bylo Nejvyšším soudem v&nbsp;Praze zamítnuto a&nbsp;ráno 3.&nbsp;srpna 1951 byla na dvoře jihlavské
                                    věznice provedena poprava oběšením.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row d-flex d-md-none">
            <div class="col-1 bod-casove-osy text-end">
                <div class="casova-osa-element-levy d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-10">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa26" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">1990</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa26" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Soudně rehabilitován</p>
    
                            <div class="fw-normal collapse multi-collapse casovaOsa26">
                                <p>Už v&nbsp;roce 1951, tedy bezprostředně po smrti Václava Drboly, se odsouzených kněží zastala část českého
                                    vysílání stanice Radio Vaticana. V&nbsp;komunistickém Československu se ale zpráva dostala jen k malému počtu
                                    lidí a&nbsp;znovu se o&nbsp;obětech procesů 50.&nbsp;let začalo hovořit až v&nbsp;roce 1968. Pozvolná rehabilitace
                                    jména a&nbsp;osudu Václava Drboly přišla až po roce 1989. Nejprve bylo zrušeno jeho odsouzení pro zločin velezrady,
                                    v&nbsp;roce 1997 bylo zastaveno také trestní stíhání pro “navádění k&nbsp;vraždě”. V&nbsp;90.&nbsp;letech a&nbsp;na
                                    počátku tisíciletí byly v&nbsp;Jihlavě, ve Starovičkách, v&nbsp;Třebíči a&nbsp;v&nbsp;Bučovicích umístěny pamětní
                                    desky věnované Václavu Drbolovi a&nbsp;jeho památce.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex d-md-none">
            <div class="col-1 bod-casove-osy text-end">
                <div class="casova-osa-element-levy d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-10">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa27" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">2011</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa27" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Zahájení beatifikačního řízení na diecézní úrovni</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa27">
                                <p>Pamětní deska na farní budově v&nbsp;Bučovicích byla odhalena a&nbsp;požehnána 2.&nbsp;září 2011 – v&nbsp;den,
                                    kdy tehdejší brněnský biskup Vojtěch Cikrle zahájil diecézní část beatifikačního řízení Václava Drboly.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex d-md-none">
            <div class="col-1 bod-casove-osy text-end">
                <div class="casova-osa-element-levy d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-10">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa28" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">2025</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa28" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Papež Lev XIV. potvrdil záměr blahořečení</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa28">
                                <p>Papež Lev XIV. formálně potvrdil záměr blahořečení Jana Buly a&nbsp;Václava Drboly.
                                    Církev tak oběma mužům přiznává zásluhy a&nbsp;ctnosti spojené s&nbsp;mučednickou smrtí.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex d-md-none">
            <div class="col-1 bod-casove-osy text-end">
                <div class="casova-osa-element-levy d-flex flex-row-reverse">

                </div>
            </div>

            <div class="col-10">
                <div class="scroll-top casova-osa-element casova-osa-element-hover d-flex flex-row">
                    <div class="scroll-top-on-click text-decoration-none" data-bs-toggle="collapse" data-bs-target=".casovaOsa29" role="button">
                        <h4 class="p-2 text-secondary casova-osa-rok">2026</h4>
                    </div>
                    <div class="scroll-top-on-click text-white text-decoration-none fw-bold" data-bs-toggle="collapse" data-bs-target=".casovaOsa29" role="button">
                        <div class="p-2">
                            <p class="fw-bold">Slavnost blahořečení na brněnském výstavišti</p>

                            <div class="fw-normal collapse multi-collapse casovaOsa29">
                                <p>Při slavnosti blahořečení na brněnském výstavišti se Jan Bula a&nbsp;Václav Drbola stanou blahoslavenými.
                                    Jde o&nbsp;mimořádný moment v&nbsp;moderních dějinách české církve.</p>
                            </div>
                            <span class="text-secondary toggle-btn">
                                <svg width="12" height="12" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                                    <polygon points="0,3.4 100,3.4 50,90" fill="rgb(222, 174, 107)"></polygon>
                                </svg>&nbsp;zobrazit více
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex d-md-none">
            <div class="col-1 casova-osa-linie-end text-end">

            </div>

            <div class="col-10">

            </div>
        </div>

    </div>
    <div class="row justify-content-center bg-white">
        <div class="col-lg-11 col-12">
            <div class="row justify-content-center my-5">
                <div class="col-lg-8 col-12 d-flex justify-content-center">
                    <svg id="mapSvg"
                            viewBox="0 0 {{ svgWidth }} {{ svgHeight }}"
                            class="w-100"
                            xmlns="http://www.w3.org/2000/svg"
                    >

                        <!-- zoomovaný svět -->
                        <g id="world">

                            <!-- mapa -->
                            <g id="mapLayer">
                                {% include 'pribeh/mapa.html.twig' %}
                            </g>

                            <!-- piny -->
                            <g transform="translate(0, -23)">
                            <g id="pinLayer">
                                {% for point in points %}
                                    <g
                                            class="map-pin"
                                            transform="translate({{ point.x }}, {{ point.y }})"
                                    >
                                        <!-- pouze tvar pinu -->
                                        <g class="pin-shape" role="button" data-bs-toggle="modal" data-bs-target="#modal-{{ point.id }}">
                                            <path
                                                    d="M0,-20
                               C-10,-20 -15,-10 -15,0
                               C-15,10 0,25 0,25
                               C0,25 15,10 15,0
                               C15,-10 10,-20 0,-20Z"
                                                    fill="rgb(222, 174, 107)"
                                                    stroke="#FFFFFF"
                                                    stroke-width="0.4"
                                            />
                                            <circle cx="0" cy="-5" r="4" fill="white"/>
                                        </g>
                                    </g>
                                {% endfor %}
                            </g>

                        </g>
                        </g>
                    </svg>


                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 col-12">
                    <div class="mt-3 w-100">
                        <input
                                type="range"
                                class="form-range"
                                min="1"
                                max="2"
                                step="0.05"
                                value="1"
                                id="zoomRange"
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    const pins = document.querySelectorAll('.map-pin');

    pins.forEach(pin => {
        pin.addEventListener('mouseenter', () => {
            // ztlum ostatní
            pins.forEach(p => p.classList.add('is-dimmed'));

            // aktivní pin
            pin.classList.remove('is-dimmed');

            // přesun do popředí
            pin.parentNode.appendChild(pin);
        });

        pin.addEventListener('mouseleave', () => {
            // reset průhlednosti
            pins.forEach(p => p.classList.remove('is-dimmed'));
        });
    });
</script>
    <script>
        const svg = document.getElementById('mapSvg');
        const world = document.getElementById('world');
        const zoomRange = document.getElementById('zoomRange');
        const isTouchDevice = window.matchMedia('(pointer: coarse)').matches;
        const pinBaseScale = isTouchDevice ? 2.2 : 1;

        const MIN_ZOOM = 0.5;
        const zoomTarget = { x: 600, y: 390 };
        const maxZoomDesktop = 2;
        const maxZoomMobile = 3.5;
        const dragSpeed = isTouchDevice ? 3 : 0.7;

        if (zoomRange) {
            zoomRange.max = isTouchDevice ? maxZoomMobile : maxZoomDesktop;
        }

        let scale = 1;
        let translateX = 0;
        let translateY = 0;

        let isDragging = false;
        let startX = 0;
        let startY = 0;

        // pinch
        let isPinching = false;
        let startDistance = 0;
        let startScale = 1;

        function zoomToPoint(newScale, mapX, mapY) {
            const rect = svg.getBoundingClientRect();

            // kde má bod zůstat na obrazovce (střed SVG)
            const screenX = rect.width / 2;
            const screenY = rect.height / 2;

            scale = newScale;

            translateX = screenX - mapX * scale;
            translateY = screenY - mapY * scale;

            updateTransform();

            if (zoomRange) zoomRange.value = scale;
        }

        function updateTransform() {
            world.setAttribute(
                'transform',
                `translate(${translateX}, ${translateY}) scale(${scale})`
            );

            document.querySelectorAll('.pin-shape').forEach(pin => {

                const PIN_ANCHOR = isTouchDevice ? 17 : 12;
                const pinOffset = PIN_ANCHOR * (1 - (pinBaseScale / scale));

                pin.setAttribute(
                    'transform',
                    `
        translate(0, ${pinOffset})
        scale(${(1 / scale) * pinBaseScale})
        `
                );
            });

        }

        // ---------- ZOOM SLIDER ----------
        zoomRange?.addEventListener('input', function () {
            const newScale = parseFloat(this.value);

            const rect = svg.getBoundingClientRect();
            const centerX = rect.width / 2;
            const centerY = rect.height / 2;

            // faktor interpolace (0 = min zoom, 1 = max zoom)
            const t = (newScale - MIN_ZOOM) / (zoomRange.max - MIN_ZOOM);

            // horizontální a vertikální offset pro viditelnost mapy při malém zoomu
            const maxOffsetX = 15; // uprav podle potřeby
            const maxOffsetY = 35;  // uprav podle potřeby

            const offsetX = maxOffsetX * (1 - t);
            const offsetY = maxOffsetY * (1 - t);

            // interpolovaný target s offsety
            const targetX = zoomTarget.x * t + centerX * (1 - t) - offsetX;
            const targetY = zoomTarget.y * t + centerY * (1 - t) - offsetY;

            zoomToPoint(newScale, targetX, targetY);
        });

        // ---------- MOUSE ----------
        svg.addEventListener('mousedown', e => {
            isDragging = true;
            startX = e.clientX;
            startY = e.clientY;
            svg.style.cursor = 'grabbing';
        });

        window.addEventListener('mousemove', e => {
            if (!isDragging) return;

            translateX += (e.clientX - startX) * dragSpeed ;
            translateY += (e.clientY - startY) * dragSpeed;

            startX = e.clientX;
            startY = e.clientY;

            updateTransform();
        });

        window.addEventListener('mouseup', () => {
            isDragging = false;
            svg.style.cursor = 'grab';
        });

        // ---------- TOUCH ----------
        svg.addEventListener('touchstart', e => {
            if (e.touches.length === 1) {
                isDragging = true;
                startX = e.touches[0].clientX;
                startY = e.touches[0].clientY;
            }

            if (e.touches.length === 2) {
                isPinching = true;
                startDistance = getDistance(e.touches[0], e.touches[1]);
                startScale = scale;
            }
        }, { passive: false });

        svg.addEventListener('touchmove', e => {
            e.preventDefault();

            // drag
            if (isDragging && e.touches.length === 1) {
                const touch = e.touches[0];

                translateX += touch.clientX - startX;
                translateY += touch.clientY - startY;

                startX = touch.clientX;
                startY = touch.clientY;

                updateTransform();
            }

            // pinch zoom
            if (isPinching && e.touches.length === 2) {
                const dist = getDistance(e.touches[0], e.touches[1]);
                scale = startScale * (dist / startDistance);

                // limity zoomu
                scale = Math.max(0.5, Math.min(3, scale));

                if (zoomRange) zoomRange.value = scale;
                updateTransform();
            }
        }, { passive: false });

        svg.addEventListener('touchend', () => {
            isDragging = false;
            isPinching = false;
        });

        function getDistance(t1, t2) {
            return Math.hypot(
                t1.clientX - t2.clientX,
                t1.clientY - t2.clientY
            );
        }
        function setInitialView(initialScale, centerClientX, centerClientY) {
            scale = initialScale;

            const rect = svg.getBoundingClientRect();

            translateX = rect.width / 2 - centerClientX * scale;
            translateY = rect.height / 2 - centerClientY * scale;

            updateTransform();

            if (zoomRange) zoomRange.value = scale;
        }

        window.addEventListener('load', () => {
            // SVG souřadnice cílového bodu

            const targetX = 600;
            const targetY = 390;

            const initialScale = 3.0;

            setInitialView(initialScale, targetX, targetY);
        });
        svg.style.cursor = 'grab';
        updateTransform();
    </script>


    {# MODALY – MIMO MAPU #}
    {% for point in points %}
        <div
                class="modal fade"
                id="modal-{{ point.id }}"
                tabindex="-1"
                aria-labelledby="modalLabel-{{ point.id }}"
                aria-hidden="true"
        >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel-{{ point.id }}">
                            {{ point.nazev }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        {% if point.pribehMista %}
                            <p>Příběh místa:<br>{{ point.pribehMista|raw }}</p>
                        {% endif %}
                        {% if point.zajimavosti %}
                            <p>Zajímavosti:<br>{{ point.zajimavosti|raw }}</p>
                        {% endif %}
                        <hr>
                        <small class="text-muted">
                            N {{ point.lat }},
                            E {{ point.lng}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
